@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap");

body {
  margin: 0px;
  padding: 0px;
}
a
{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.container {
  max-width: 1920px;
  display: block;
  margin: 0 auto;
  padding: 0 auto;


}
.wrapper
{
  max-width: 1170px;
  max-width: 100%;
}
.page-1 {
  /* background: url(../Assets/image-1.png); */
  background: linear-gradient(to right, #d1d0eecc, #d1d0eecc),
  url(../Assets/image-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
    
}

.header div {
  display: block;
  padding-left: 200px;
  position: relative;
}
.head-logo {
  float: left;
}
.head-logo h2 {
  font-family: "Poppins", sans-serif;
  color: #726bb1;
  padding-left: 50px;
}
.menu-bar {
  float: right;
  padding-right: 165px;
  padding-top: 30px;
}
.menu-bar i {
  border: 1px solid rgb(221, 218, 218);
  padding: 10px;
  font-size: 25px;
}
.memphis img {
  padding-left: 120px;
  padding-top: 70px;
  width: 80%;
}
.page-1-box-content {
  width: 470px;
  padding-left: 0px;
  margin-left: 150px;
  position: absolute;
  top: 210px;
  border: 14px solid rgb(240, 240, 249);
  padding-top: 70px;
}
.page-1-box-content h2 {
  font-family: "Poppins", sans-serif;
  padding-left: 130px;
  font-size: 30px;
  color: #ffff;
  font-weight: 600;
}
.page-1-box-content h3 {
  font-family: "Poppins", sans-serif;
  line-height: 69px;
  font-size: 50px;
  color: #726bb1;
  margin-right: -176px;
  margin-left: 132px;
  margin-top: -25px;
  padding-bottom: 10px;
}
.page-1-box-content p {
  font-family: Roboto, sans-serif;
  margin-top: -56px;
  line-height: 29px;
  margin-left: 140px;
  font-size: 15px;
  width: 480px;
  color: rgb(29, 29, 29);
  padding-bottom: 10px;
}
.inside-content-page-1
{
  margin-top: -30px;
}
.paragraph-1-2 {
  margin-left: 145px;
  margin-top: 22px;
  padding-bottom: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  z-index: 1 !important;
  padding-bottom: 50px;
}
.empty-background-page-1
{
  /* position: absolute; */
  border: 1px solid white;
  background-color: white;
  width: 38px;
  height: 35px;
  margin-top: -60px;
  margin-left: 55px;
  

}
.box-on-download p {
  position: absolute;
  padding-top: 20px;
  margin-left: 55px;
  transform: translate(90px 0px);
  width: 2px;
}

.page-2 {
  margin-left: 80px;
  display: inline;
}

.big-text h2 {
  position: absolute;
  font-size: 406px;
  font-weight: 800;
  opacity: 0.1;
  color: #545454;
  margin-top: -520px;
  padding-left: 661px;
  width: 400px;
}

.vertical-text {
  width: 80px;
  position: relative;
  padding-left: 180px;
}

.vertical-text h2 {
  transform: rotateZ(
270deg
);
  font-family: "Poppins", sans-serif;
  margin-left: 30px;
  margin-top: 500px;
  width: 24px;
  font-size: 110px;
  color: #726bb1;
  font-family: "Poppins";
  filter: drop-shadow(0px 12px 15px rgba(6, 7, 7, 0.12));
}
.vertical-text h3 {
  font-size: 730px;
  opacity: 0.04;
  transform: rotateZ(
180deg
);
  font-family: "Poppins", sans-serif;
  transform: scaleY(1, -1);
  float: left;
  margin-left: -120px;
  margin-top: -910px;
  
}
.page-2
{
  position: relative;
}
.content-page-2 {

  display: inline-block;
  position: absolute;
  margin-top: -711px;
  margin-left: -153px;
  
  
}
.content-page-2 h3 {
  font-size: 47px;
  width: 410px;
  font-family: "Poppins", sans-serif;
  line-height: 69px;
  padding-top: 100px;
}


.content-page-2 p {
  font-size: 17px;
  width: 425px;
  line-height: 27px;
  font-family: "Poppins", sans-serif;
}




.content-page-2 h4 {
  padding-left: 340px;
  padding-top: 30px;
  font-size: 18px;
}
.box-on-read-more {
  border: 1px solid rgb(207, 205, 255);
  float: right;
  margin-top: -60px;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  background-color: rgb(207, 205, 255);
}

.image-page-2 {
  position: absolute;


  display: inline-block;
  margin-left: 300px;
  margin-top: -900px;
}

.image-page-2 p {
  padding-top: 50px;
  font-size: 18px;
  line-height: 28px;
  color: #555555;
  font-weight: 300;
  font-family: "Roboto";
}

.page-3 {
  background-color: rgb(245, 249, 253);
  padding-top: 110px;
  padding-bottom: 40px;
  position: relative;
}
.left-portion {
  position: absolute;
}
.left-portion h2 {
  margin-top: -50px;
  padding-left: 190px;
  font-size: 40px;
  color: #726bb1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.left-portion p {
  font-size: 18px;
  padding-left: 190px;
  width: 490px;
  font-weight: 800;
  color: rgb(85, 85, 85);
  font-family: "Poppins";
}
.left-portion img {
  padding-left: 190px;
  padding-top: 48px;
}

.right-portion {
  display: inline-block;
  margin-top: -39px;
  margin-left: 352px;
}
.icon-1-box-1 {
  float: left;
  font-size: 50px;
  color: rgb(245, 249, 253);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  opacity: 1;
  border: 1px solid;
  padding-top: 12px;
  padding-left: 13px;
  background-color: white;
  border-radius: 50px;
  transform: translate(10px 10px);
}
.icon-1-box-1 h3
{
  font-size: 15px;
}

/* .left-portion p {
    font-size: 18px;
    padding-left: 260px;
    width: 490px;
    font-weight: 800;
    color: rgb(85, 85, 85);
    font-family: "Poppins";
} */



.box-1 p {
  font-size: 16px;
  width: 450px;
  line-height: 27px;
  font-family: "Roboto", light;
  padding-left: 92px;
  opacity: 0.9;
}

.text-content {
  /* position: absolute; */
  
  padding-top: 150px;
  
  float: left;
  margin-left: -350px;
 
}
.row-1
{
  padding-right: 50px;

}
.row-2
{
  padding-top: 320px;
  
}
.image-2
{
  padding-top: 50px;
}
.image-4
{
  padding-top: 50px;
}



.text-content h2 {
  font-size: 48px;

  color: #726bb1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 60px;
  width: 558px;
}
.text-content h4 {
  /* width: 560px; */
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(85, 85, 85);
  font-family: "Poppins";
  width: 558px;
}

.text-content p {
  font-size: 18px;
  font-family: "Roboto";
  opacity: 0.9;
  line-height: 30px;
  color: #828282;
  width: 558px;
}
.images-content {
  display: inline;
}

.image-2 h3 {
  position: absolute;
  margin-left: 946px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
.image-2 h3 i {
  border: 1px solid black;
  padding: 10px;
  
}

.page-5 {
  position: relative;

  background: url(../Assets/pexels-photo-347917.png);
  background-image:linear-gradient(to right, #9294a9cc,#c0a7b4cc,#c0a7b4cc,#d8d7e8cc),url(../Assets/pexels-photo-347917.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 720px;
  margin-top: -100px;
}


.empty-background {
  background-color: #c5b7db;
  height: 331px;
  width: 220px;
  position: absolute;
  opacity: 0.5;
  margin-top: -490px;
  margin-left: 485px;
}
.evana-big h2 {
  margin-top: 545px;
  font-size: 308px;
  line-height: 0px;
  font-family: "Poppins";
  padding-top: 396px;
  padding-left: 15px;
  opacity: 0.1;
  font-weight: 900;
}
.main-text {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 0px;
  padding-top: 196px;
  display: block;
  margin-left: 760px;
}
.main-text h2 {
  width: 350px;
  text-align: right;
  font-size: 60px;
  color: white;
  padding-left: 94px;
}
.main-text-content {
  width: 460px;
  font-size: 21px;
  text-align: right;
  color: white;
  padding-bottom: 77px;
  font-weight: 500;
}
.main-text-content h5 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 18x;
  font-weight: bolder;
}
.main-text-content i {
  color: rgb(245, 249, 253);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  opacity: 1;
  border: 1px 5px solid white;
  opacity: 1;
  background-color: rgb(207, 204, 255);
  padding-right: 15px;
  padding-left: 3px;
  padding-bottom: 2px;
  padding-top: 10px;
  border: 1px solid transparent;
}

.heading-part {
  width: 520px;
  text-align: center;
  padding-left: 438px;
}
.heading-part h3 {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  color: #726bb1;
  margin-bottom: 0px;
}
.heading-part p {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 17px;
  color: black;
}
.box-page-6 {
  width: 470px;
  padding: 45px;
  display: inline-block;
  margin: 34px;
  box-shadow: rgb(100 100 100) 1px 1px 7px 0px;
  border-top: 4px solid rgb(168, 164, 219);
}
.box-page-6 i
{
  font-size: 40px;
  
}
.box-2-page-6 i
{
  font-size: 40px;
}
.right-angle i
{
  font-size: 22px;
  border: 1px solid rgb(133, 126, 126);
 padding: 5px 10px;
  margin-left: 5px;
  

}
.box-2-page-6 {
  border: transparent solid black;
  width: 470px;
  padding: 45px;
  display: inline-block;
  box-shadow: 1px 1px 7px 0px rgb(100 100 100);
  border-top: 4px solid #a8a4db;
}

.row-1-page-6
{
  padding-left: 80px;
}

.row-2-page-6 {
  padding-left: 80px;
  margin-top: 0;
}





.fa-film {

  padding-right: 35px;
  font-size: 40px;
}
.fa-headphones {

  padding-right: 45px;
  font-size: 40px;
}
.fa-shopping-bag {

  padding-right: 40px;
  font-size: 40px;
}
.fa-lock {

  padding-right: 55px;
  font-size: 40px;
}
.box-page-6 h3 {
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  margin-top: -10px;
  padding-left: 80px;
}
.inside-content
{
  margin-top: -50px;
}
.box-page-6 p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding-left: 85px;
  color: #555555;
  line-height: 29px;
}
.box-page-6 h5 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding-left: 80px;
  
}
.box-2-page-6 h3 {
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  padding-left: 80px;
 
}
.inside-content-2 
{
margin-top: -70px;
}
.inside-content-3
{
  margin-top: -50px;
}
.inside-content-4
{
  margin-top: -70px;
}
.box-2-page-6 p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding-left: 85px;
  color: #555555;
  line-height: 29px;
}
.box-2-page-6 h5 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding-left: 85px;
}
.image-section {
  position: relative;
}
.image-section img {
  padding-top: 50px;
  float: right;
  width: 60%;
}

.text-section-page-7 {
  position: absolute;
  padding-top: 200px;
  padding-left: 180px;
}

.text-section-page-7 h2 {
  width: 500px;

  font-size: 40px;
  color: #222222;
  font-family: "Poppins";
}
.text-section-page-7 h3 {
  width: 320px;

  font-size: 17px;
  line-height: 25px;
  color: #555555;
  font-weight: 700;
  font-family: "Roboto";
}
.text-section-page-7 p {
  width: 320px;

  font-size: 15px;
  line-height: 25px;
  color: #555555;
  font-weight: 500;
  font-family: "Roboto";
}
.text-section-page-7 h4 {
  padding-left: 340px;
  padding-top: 0px;
  font-size: 18px;
}


.box-on-read-more-2 {
  position: absolute;
  border: 1px solid rgb(207, 205, 255);
  background-color: rgb(207, 205, 255);
  float: right;
  margin-top: 685px;
  margin-left: 1080px;
  width: 35px;
  height: 35px;
}
.image-section h5 {
  position: absolute;
  margin-top: 700px;
  margin-left: 1020px;
  font-size: 18px;
  padding-bottom: 150px;
}
.image-section hr {
  position: absolute;
  margin-top: 820px;
  position: absolute;
  width: 1330px;
  opacity: 0.2;
  color: #828282;
}

.page-8 {
  clear: both;
  margin-left: 50px;
}

.heading-page-8 {
  margin-top: 890px;
}
.heading-page-8 h2 {
  margin-left: 470px;
  width: 555px;
  font-size: 42px;
  color: #726bb1;
  font-family: "Poppins";
}
.heading-page-8 p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  color: #555555;
  width: 555px;
  text-align: center;
  margin-left: 400px;
  padding-bottom: 75px;
}
.office-people-section {
  display: inline;
}
.amazing-image-1 img {
  float: left;
  padding-left: 90px;
  position: relative;
}
.amazing-image-2 img {
  float: left;
  margin-left: 30px;
  margin-top: 240px;
  position: relative;
}
.amazing-image-3 img {
  float: left;
  margin-left: 30px;
  position: relative;
}
.amazing-image-4 img {
  float: left;
  margin-left: 30px;
  margin-top: 240px;
  position: relative;
}
.amazing-text-1 {
  transform: rotate( 
270deg
);
  position: absolute;
  margin-left: 325px;
  margin-top: 40px;
  line-height: 5px;
}
.amazing-text-1 h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.amazing-text-1 h4 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.amazing-text-2 {
  transform: rotate(
270deg
);
  position: absolute;
  margin-top: 470px;
  margin-left: 290px;
}
.amazing-text-2 h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 5px;
}
.amazing-text-2 h4 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.amazing-text-3 {
  transform: rotate( 
270deg
);
  position: absolute;
  margin-top: 38px;
  margin-left: 908px;
  line-height: 8px;
}
.amazing-text-3 h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
;
}
.amazing-text-3 h4 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.amazing-text-4 {
  transform: rotate(
270deg
);
  position: absolute;
  margin-left: 860px;
  margin-top: 465px;
  line-height: 5px;
}
.amazing-text-4 h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.amazing-text-4 h4 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.page-9 {
  clear: both;
  display: table;

  content: "";
}
/* .background-page-9
{
  background-color: #cfcbff!important;

} */

.content-page-9 {
  position: absolute;
  margin-top: 90px;
 width: 1000px;
/* background-color:#cfcbff; */
 margin-left: 200px;
  margin-top: 200px;
  text-align: center;
  align-items: center;
  
  
}
.content-page-9 i {
  font-size: 40px;
  color: #cfcbff;
}
.content-page-9 h2 {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
}
.content-page-9 p {
  font-size: 21px;
  font-family: "Roboto", sans-serif;
  color: #555555;
  padding-bottom: 59px;
}
.content-page-9 img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
}
.content-page-9 h3 {
  line-height: 24px;
  margin-left: 205px;
  margin-top: -52px;
  padding-bottom: 120px;
  font-family: "Poppins";
  
}
.photographer
{
font-weight: 100;
font-family: "Roboto", sans-serif;
margin-left: -20px;
font-size: 15px;
color: #555555;
}
.page-10 {
  clear: both;
  margin-top: 800px;
}
.heading-page-10 {
  padding-left: 410px;
  width: 555px;
  height: 190px;
}
.heading-page-10 h2 {
  font-size: 30px;
  line-height: 42px;
  color: #222222;
  font-family: "Poppins";
  text-align: center;
}
.heading-page-10 p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #555555;
  line-height: 28px;
}
.form-page-10 {
  padding-top: 30px;
  padding-left: 330px;
}
.form-page-10 input {
  width: 554px;
  height: 57px;
  border: transparent;
  box-shadow: 1px 1px 3px  rgb(128, 127, 127);
}

.form-page-10 button {
  width: 190px;
  padding-top: 20px;
  padding-bottom: 23px;
  background-color: #cfccff;
  border: transparent;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  margin-left: -4px;
  margin-bottom: 2px;
}

.latest-news {
  text-align: center;
  padding-left: 415px;
  padding-top: 85px;
}
.latest-news h2 {
  width: 555px;

  font-size: 42px;
  color: #726bb1;
  font-family: "Poppins";
  text-align: center;
}
.latest-news h3 {
  width: 555px;
  font-family: "Roboto", sans-serif;
  font-family: 900;
  color: #555555;
}

.last-box {
  display: inline-block;
}
.all-last-boxes {
  margin-left: 100px;
  padding-top: 60px;
}
.last-box-1 {
  float: left;
}
.last-box-2 {
  float: left;
  margin-left: 30px;
}
.last-box-3 {
  float: left;
  margin-left: 30px;
}
.last-box-1 h3 {
  width: 372px;

  font-size: 18px;
  line-height: 25px;
  color: #222222;
  font-family: "Poppins";
}
.last-box-2 h3 {
  width: 372px;

  font-size: 18px;
  line-height: 25px;
  color: #222222;
  font-family: "Poppins";
}
.last-box-3 h3 {
  width: 372px;
  font-size: 18px;
  line-height: 25px;
  color: #222222;
  font-family: "Poppins";
}
.last-box-3 img {
  width: 370px;
  height: 236px;
}
.all-last-boxes input {
  width: 370px;
  height: 60px;
  border: none;
  border-top: 2.5px solid #e5e5e5;
}
.all-last-boxes button {
  margin-left: -80px;
  border: transparent;
  background-color: transparent;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  padding-bottom: 85px;
}
::placeholder {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.page-11 {
  clear: both;
  background-color: #f5f9fd;
  padding-bottom: 98px;
  padding-top: 70px;
}
.page-11-content {
  display: inline-block;
}
.evana-last {
  float: left;
  padding-left: 80px;
}
.evana-last h3 {
  color: #716bb1;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 18px;
}
.evana-last p {
  width: 399px;
  font-size: 18px;
  line-height: 28px;
  color: #555555;
  font-weight: 300;
  font-family: "Roboto";
}
.evana-last i
{
    font-size: 20px;
    margin-top: 20px;
    
} 
.fa-facebook {
  
  
  color: #3b5998;
  float: left;
  
  
}
.fa-twitter {
  
  
  color: #1da1f2;
  margin-left: 15px;
  
}
.fa-google-plus {
  
  
  color:#dd4b39 ;
  margin-left: 10px;
  
}
.fa-linkedin
 {
  
  color: #0077b5;
  margin-left: 10px;

  
}
.evana-last h4 {
  padding-top: 51px;
  width: 399px;
  font-size: 18px;
  line-height: 28px;
  color: #555555;
  font-weight: 300;
  font-family: "Roboto";
}

.quick-links {
  float: left;
  padding-left: 76px;
}
.quick-links h3 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.quick-links p {
  font-size: 18px;
  font-family: "Roboto";
  color: #555555;
}
.about {
  float: left;
  padding-left: 110px;
}
.about h3 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.about p {
  font-size: 18px;
  font-family: "Roboto";
  color: #555555;
}
.photo-gallery {
  float: left;
  padding-left: 76px;
}
.photo-gallery h3 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.images-row-1 img
{
    padding: 5px;
}
.images-row-2 img
{
    padding: 5px;
}
.bold-copyright
{
  padding-left: 30px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}


/* from here the media quarry starts */

@media (max-width: 1366px)
{
  .big-text h2 {
    position: absolute;
    font-size: 406px;
    font-weight: 800;
    opacity: 0.1;
    color: #545454;
    margin-top: -520px;
    padding-left: 396px;
    width: 400px;
}
.vertical-text h2 {
  transform: rotateZ( 
0deg
);
  font-family: "Poppins", sans-serif;
  margin-left: -85px;
  margin-top: 500px;
  width: 24px;
  font-size: 110px;
  color: #726bb1;
  font-family: "Poppins";
  filter: drop-shadow(0px 12px 15px rgba(6, 7, 7, 0.12));
}
.content-page-2 {
  display: inline-block;
  position: absolute;
  margin-top: -759px;
  margin-left: -280px;
}
.content-page-2 h4 {
  padding-left: 840px;
  padding-top: 95px;
  font-size: 18px;
}


.vertical-text h3 {
  font-size: 730px;
  opacity: 0.04;
  transform: rotateZ( 
180deg
);
  font-family: "Poppins", sans-serif;
  transform: scaleY(1, -1);
  float: left;
  margin-left: -190px;
  margin-top: -910px;
}
.image-page-2 {
  position: absolute;
  display: inline-block;
  margin-left: 180px;
  margin-top: -900px;
}
.image-page-2 img
{
  width: 95%;
}
.image-page-2 p {
  padding-top: 50px;
  font-size: 18px;
  width: 450px;
  line-height: 28px;
  color: #555555;
  font-weight: 300;
  font-family: "Roboto";
}

.left-portion p {
  font-size: 20px;
  padding-left: 0px;
  text-align: center;
  width: 490px;
  font-weight: 800;
  color: rgb(85, 85, 85);
  font-family: "Poppins";
}
.left-portion h2 {
  margin-top: -160px;
  padding-left: 0px;
  font-size: 50px;
  color: #726bb1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.left-portion img {
  padding-left: 0px;
  padding-top: 48px;
}
.right-portion {
  display: inline-block;
  margin-top: -60px;
  margin-left: 144px;
}
.icon-1-box-1 {
  float: left;
  font-size: 50px;
  color: rgb(245, 249, 253);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  opacity: 1;
  border: 1px solid;
  margin-right: 25px;
  padding-top: 12px;
  padding-left: 13px;
  background-color: white;
  border-radius: 50px;
  transform: translate(10px 10px);
}

.text-content {
  /* position: absolute; */
  padding-top: 150px;
  float: left;
  margin-left: -110px;
}
.text-content h2 {
  font-size: 62px;
  color: #726bb1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 60px;
  width: 593px;
  text-align: center;
}
.text-content h4 {
  /* width: 560px; */
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(85, 85, 85);
  font-family: "Poppins";
  width: 590px;
  text-align: center;
}

.text-content p {
  font-size: 18px;
  font-family: "Roboto";
  opacity: 0.9;
  line-height: 30px;
  color: #828282;
  width: 600px;
  text-align: center;
}



/* css of page 3 */

.image-3 {
  margin-left: 280px;
}
.image-3 img
{
  padding-top: 63px;
}
.image-4 {
  padding-top: 50px;
  margin-left: 285px;
}

.image-2 h3 {
  position: absolute;
  margin-left: 118px;
  font-size: 18px;
  margin-top: 1300px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}






/* evana-girl page with empty box background */

.main-text h2 {
  width: 579px;
  text-align: right;
  font-size: 60px;
  color: white;
  padding-left: 94px;
  margin-left: -370px;
}
.main-text-content {
  width: 448px;
  margin-left: -146px;
  font-size: 21px;
  text-align: right;
  color: white;
  padding-bottom: 77px;
  font-weight: 500;
}


.image-section hr {
  position: absolute;
  margin-top: 820px;
  position: absolute;
  width: 1015px;
  opacity: 0.2;
  color: #828282;
}
.heading-part {
  width: 520px;
  text-align: center;
  padding-left: 300px;
}
.row-1-page-6 {
  padding-left: 200px;
}
.row-2-page-6 {
  padding-left: 200px;
  margin-top: 0;
}
.box-2-page-6 {
  border: transparent solid black;
  width: 470px;
  padding: 45px;
  margin: 35px;
  display: inline-block;
  box-shadow: 1px 1px 7px 0px rgb(100 100 100);
  border-top: 4px solid #a8a4db;
}
.box-on-read-more-2 {
  position: absolute;
  border: 1px solid rgb(207, 205, 255);
  background-color: rgb(207, 205, 255);
  float: right;
  margin-top: 645px;
  margin-left: 935px;
  width: 35px;
  height: 35px;
}
.image-section h5 {
  position: absolute;
  margin-top: 654px;
  margin-left: 878px;
  font-size: 18px;
  padding-bottom: 150px;
}

.content-page-9
{

  margin-left: 60px;



}
.heading-page-8 h2 {
  margin-left: 310px;
  width: 555px;
  font-size: 42px;
  color: #726bb1;
  font-family: "Poppins";
}
  .heading-page-8 p {
    font-size: 29px;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    color: #555555;
    width: 629px;
    text-align: center;
    margin-left: 229px;
    padding-bottom: 75px;
}


.amazing-image-1 img {
  float: left;
  padding-left: 40px;
  position: relative;
}
.amazing-text-1 {
  transform: rotate( 
270deg
);
  position: absolute;
  margin-left: 278px;
  margin-top: 40px;
  line-height: 5px;
}
.amazing-image-2 img {
  float: left;
  margin-left: -56px;
  margin-top: 355px;
  position: relative;
}
.amazing-text-2 {
  transform: rotate( 
270deg
);
  position: absolute;
  margin-top: 383px;
  margin-left: 157px;
}
.amazing-image-3 img {
  float: left;
  margin-left: -50px;
  position: relative;
}
.amazing-text-3 {
  transform: rotate( 
270deg
);
  position: absolute;
  margin-top: 38px;
  margin-left: 686px;
  line-height: 8px;
}
.amazing-image-4 img {
  float: left;
  margin-left: -54px;
  margin-top: 354px;
  position: relative;
}
.amazing-text-4 {
  transform: rotate( 
270deg
);
  position: absolute;
  margin-left: 561px;
  margin-top: 396px;
  line-height: 5px;
}

.heading-page-10 {
  padding-left: 260px;
  width: 545px;
  height: 190px;
}

.form-page-10 {
  padding-top: 30px;
  padding-left: 181px;
}

.latest-news {
  text-align: center;
  padding-left: 280px;
  padding-top: 85px;
}
.all-last-boxes {
  margin-left: 170px;
  padding-top: 60px;
}

.last-box-3 {
  float: left;
  margin-left: 220px;
}





















}


@media (max-width: 1070px)

{
  .page-1 {
    /* background: url(../Assets/image-1.png); */
    background: linear-gradient(to right, #d1d0eecc, #d1d0eecc), url(../Assets/image-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px;
}
.big-text h2 {
  position: absolute;
  font-size: 406px;
  font-weight: 800;
  opacity: 0.1;
  color: #545454;
  margin-top: -520px;
  padding-left: 0;
  margin-left: -165px;
  width: 400px;
}
.page-1-box-content p {
  font-family: Roboto, sans-serif;
  margin-top: -56px;
  line-height: 29px;
  margin-left: 121px;
  font-size: 20px;
  width: 480px;
  color: rgb(29, 29, 29);
  padding-bottom: 10px;
}
.paragraph-1-2 {
  margin-left: 129px;
  margin-top: 22px;
  padding-bottom: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  z-index: 1 !important;
  padding-bottom: 30px;
}
.page-1-box-content h3 {
  font-family: "Poppins", sans-serif;
  line-height: 69px;
  font-size: 55px;
  color: #726bb1;
  margin-right: -90px;
  margin-left: 107px;
  margin-top: -25px;
  padding-bottom: 10px;
}
.image-page-2 {
  position: absolute;
  display: inline-block;
  margin-left: -425px;
  margin-top: -887px;
}
.vertical-text h3 {
  font-size: 730px;
  opacity: 0.04;
  transform: rotateZ( 
180deg
);
  font-family: "Poppins", sans-serif;
  transform: scaleY(1, -1);
  float: left;
  margin-left: 30px;
  margin-top: -978px;
}

.image-page-2 p {
  padding-top: 44px;
  font-size: 24px;
  width: 540px;
  line-height: 28px;
  color: #555555;
  font-weight: 300;
  font-family: "Roboto";
  text-align: justify;
}

.image-page-2 {
  position: absolute;
  display: inline-block;
  margin-left: -460px;
  margin-top: -1001px;
}

.vertical-text h2 {
  transform: rotateZ( 
270deg
);
  font-family: "Poppins", sans-serif;
  margin-left: -118px;
  margin-top: 630px;
  width: 24px;
  font-size: 110px;
  color: #726bb1;
  font-family: "Poppins";
  filter: drop-shadow(0px 12px 15px rgba(6, 7, 7, 0.12));
}
.content-page-2 {
  display: inline-block;
  position: absolute;
  margin-top: -227px;
  margin-left: -444px;
}
.content-page-2 p {
  font-size: 25px;
  width: 520px;
  text-align: justify;
  line-height: 27px;
  font-family: "Poppins", sans-serif;
}
.content-page-2 h3 {
  font-size: 47px;
  width: 500px;
  font-family: "Poppins", sans-serif;
  line-height: 69px;
  text-align: center;
  padding-top: 100px;
}
.content-page-2 h4 {
  padding-left: 412px;
  padding-top: 1px;
  font-size: 18px;
}










.page-3 {
  background-color: rgb(245, 249, 253);
  padding-bottom: 40px;
  position: relative;
  margin-top: 410px;
}
.left-portion h2 {
  margin-top: -530px;
  padding-left: 150px;
  font-size: 50px;
  color: #726bb1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.left-portion p {
  font-size: 23px;
  padding-left: 92px;
  text-align: center;
  width: 577px;
  font-weight: 800;
  color: rgb(85, 85, 85);
  font-family: "Poppins";
}
.left-portion img {
  padding-left: 123px;
  padding-top: 48px;
}

.right-portion {
  display: inline-block;
  margin-top: 180px;
  margin-left: 123px;
}

.icon-1-box-1 {
  float: left;
  font-size: 50px;
  color: rgb(245, 249, 253);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  opacity: 1;
  border: 1px solid;
  margin-right: 25px;
  padding-top: 12px;
  padding-left: 13px;
  background-color: white;
  border-radius: 50px;
  transform: translate(10px 10px);
}













.text-content {
  /* position: absolute; */
  padding-top: 150px;
  float: left;
  margin-left: 158px;
}

.text-content h2 {
  font-size: 62px;
  color: #726bb1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 60px;
  width: 593px;
  text-align: center;
}
.text-content h4 {
  /* width: 560px; */
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(85, 85, 85);
  font-family: "Poppins";
  width: 590px;
  text-align: center;
}

.text-content p {
  font-size: 18px;
  font-family: "Roboto";
  opacity: 0.9;
  line-height: 30px;
  color: #828282;
  width: 600px;
  text-align: center;
}
.image-3 {
  margin-left: 160px;
  
}
.image-3 img
{
  padding-top: 50px;
}
.image-4 {
  padding-left: 0;
  margin-left: 160px;
}
.image-2 h3 {
  position: absolute;
  margin-left: 415px;
  margin-top: 1276px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
.page-5 {
  position: relative;
  background: url(../Assets/pexels-photo-347917.png);
  background-image: linear-gradient(to right, #9294a9cc,#c0a7b4cc,#c0a7b4cc,#d8d7e8cc),url(../Assets/pexels-photo-347917.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  margin-top: -100px;
}
.evana-big h2 {
  margin-top: 290px;
  font-size: 158px;
  line-height: 0px;
  font-family: "Poppins";
  padding-top: 159px;
  padding-left: 9px;
  opacity: 0.1;
  font-weight: 900;
}
.empty-background {
  background-color: #c5b7db;
  height: 281px;
  width: 201px;
  position: absolute;
  opacity: 0.5;
  margin-top: -291px;
  margin-left: 219px;
}
.main-text {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 0px;
  padding-top: 0px;
  display: block;
  margin-left: 760px;
}
.main-text h2 {
  width: 583px;
  text-align: right;
  font-size: 60px;
  color: white;
  padding-left: 0px;
  margin-left: -586px;
  margin-bottom: 0px;
}

.main-text-content {
  width: 460px;
  font-size: 21px;
  text-align: right;
  color: white;
  font-weight: 100;
  margin-left: -459px;
  margin-bottom: 0px;
}
.heading-part {
  width: 520px;
  text-align: center;
  padding-left: 150px;
}
.heading-part h3 {
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  color: #726bb1;
  margin-bottom: 0px;
}

.heading-part p {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: black;
}
.row-1-page-6 {
  padding-left: 110px;
}
.row-2-page-6 {
  padding-left: 110px;
  margin-top: 0;
}
.box-2-page-6 {
  border: transparent solid black;
  width: 470px;
  padding: 45px;
  margin: 35px;
  display: inline-block;
  box-shadow: 1px 1px 7px 0px rgb(100 100 100);
  border-top: 4px solid #a8a4db;
}
.box-on-read-more-2 {
  position: absolute;
  border: 1px solid rgb(207, 205, 255);
  background-color: rgb(207, 205, 255);
  float: right;
  margin-top: 645px;
  margin-left: 721px;
  width: 35px;
  height: 35px;
}

.image-section h5 {
  position: absolute;
  margin-top: 655px;
  margin-left: 660px;
  font-size: 18px;
  padding-bottom: 150px;
}

.heading-page-8 h2 {
  margin-left: 223px;
  width: 494px;
  font-size: 50px;
  color: #726bb1;
  margin-bottom: 0px;
  font-family: "Poppins";
}
.heading-page-8 p {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  color: #555555;
  width: 555px;
  text-align: center;
  margin-left: 180px;
  padding-bottom: 75px;
}


.image-section hr {
  position: absolute;
  margin-top: 820px;
  position: absolute;
  width: 769px;
  opacity: 0.2;
  color: #828282;
}
.amazing-image-3 img {
  float: left;
  margin-left: 150px;
  position: relative;
}

.amazing-text-3 {
  transform: rotate( 
270deg
);
  position: absolute;
  margin-top: 38px;
  margin-left: 690px;
  line-height: 8px;
}
.amazing-image-2 img {
  float: left;
  margin-left: -256px;
  margin-top: 412px;
  position: relative;
}
.amazing-text-2 {
  transform: rotate( 
270deg
);
  position: absolute;
  margin-top: 449px;
  line-height: 2px;
  margin-left: 278px;
}
.amazing-image-4 img {
  float: left;
  margin-left: 150px;
  margin-top: 90px;
  position: relative;
}
.amazing-text-4 {
  transform: rotate( 
270deg
);
  position: absolute;
  margin-left: 685px;
  margin-top: 472px;
  line-height: 4px;
}



.heading-page-10 {
    padding-left: 260px;
    width: 555px;
    height: 190px;
}

.form-page-10 {
  padding-top: 30px;
  padding-left: 170px;
}


.latest-news {
    text-align: center;
    padding-left: 250px;
    padding-top: 85px;
}

.latest-news h2 {
  width: 555px;
  font-size: 60px;
  margin-bottom: 0px;
  color: #726bb1;
  font-family: "Poppins";
  text-align: center;
}
.latest-news h3 {
  width: 555px;
  font-family: "Roboto", sans-serif;
  font-family: 900;
  color: #555555;
  font-size: 25px;
}

.last-box-1{
  margin-left: 60px;
}
.last-box-2{
  margin-left: 60px;
}
.last-box-3 {
  float: left;
  margin-left: 60px;
}




.content-page-9 {
  position: absolute;
  margin-top: 90px;
  width: 770px;
  /* background-color: #cfcbff; */
  margin-left: 20px;
  margin-top: 200px;
  text-align: center;
  align-items: center;
}
}



/* media for ipad or similar devices */
@media (max-width: 768px)
{
  .header div {
    display: block;
    padding-left: 40px;
    position: relative;
}
.menu-bar
{
  padding-top: 18px;
    float: right;
    padding-right: 85px;
}

  .big-text h2 {
    position: absolute;
    font-size: 406px;
    font-weight: 800;
    opacity: 0.1;
    color: #545454;
    margin-top: -510px;
    width: 238px;
    padding-left: 0px;
    margin-left: -145px;
}
/* .page-1-box-content p {
  font-family: Roboto, sans-serif;
  margin-top: -56px;
  line-height: 29px;
  margin-left: 140px;
  font-size: 22px;
  width: 480px;
  color: rgb(29, 29, 29);
  padding-bottom: 10px;
}
.page-1-box-content h2 {
  font-family: "Poppins", sans-serif;
  padding-left: 110px;
  font-size: 35px;
  color: #ffff;
  font-weight: 600;
} */

.page-1-box-content {
  width: 481px;
  padding-left: 0px;
  margin-left: 5px;
  position: absolute;
  top: 210px;
  border: 14px solid rgb(240, 240, 249);
  padding-top: 70px;
}
.page-1-box-content p {
  font-family: Roboto, sans-serif;
  margin-top: -56px;
  line-height: 29px;
  margin-left: 55px;
  font-size: 20px;
  width: 480px;
  color: rgb(29, 29, 29);
  padding-bottom: 10px;
}
.paragraph-1-2 {
  margin-left: 129px;
  margin-top: 22px;
  padding-bottom: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  z-index: 1 !important;
  padding-bottom: 30px;
}
.page-1-box-content h3 {
  font-family: "Poppins", sans-serif;
  line-height: 69px;
  font-size: 55px;
  color: #726bb1;
  margin-right: -90px;
  margin-left: 107px;
  margin-top: -25px;
  padding-bottom: 10px;
}
.image-page-2 {
  position: absolute;
  display: inline-block;
  margin-left: -430px;
  margin-top: -1001px;
}


.vertical-text h3 {
  font-size: 730px;
  opacity: 0.04;
  transform: rotateZ( 
180deg
);
  font-family: "Poppins", sans-serif;
  transform: scaleY(1, -1);
  float: left;
  margin-left: -15px;
  margin-top: -978px;
}

.image-page-2 p {
  padding-top: 44px;
  font-size: 24px;
  width: 400px;
  line-height: 28px;
  color: #555555;
  font-weight: 300;
  font-family: "Roboto";
  text-align: justify;
}
.image-page-2 {
  position: absolute;
  display: inline-block;
  margin-left: -425px;
  margin-top: -1001px;
}

.vertical-text h2 {
  transform: rotateZ( 
270deg
);
  font-family: "Poppins", sans-serif;
  margin-left: -118px;
  margin-top: 630px;
  width: 24px;
  font-size: 110px;
  color: #726bb1;
  font-family: "Poppins";
  filter: drop-shadow(0px 12px 15px rgba(6, 7, 7, 0.12));
}
.content-page-2 {
  display: inline-block;
  position: absolute;
  margin-top: -227px;
  margin-left: -537px;
}


.content-page-2 p {
  font-size: 25px;
  width: 520px;
  text-align: justify;
  line-height: 27px;
  font-family: "Poppins", sans-serif;
}
.content-page-2 h3 {
  font-size: 47px;
  width: 500px;
  font-family: "Poppins", sans-serif;
  line-height: 69px;
  text-align: center;
  padding-top: 100px;
}
.content-page-2 h4 {
  padding-left: 412px;
  padding-top: 1px;
  font-size: 18px;
}










.page-3 {
  background-color: rgb(245, 249, 253);
  padding-bottom: 40px;
  position: relative;
  margin-top: 410px;
}
.left-portion h2 {
  margin-top: -530px;
  padding-left: 90px;
  font-size: 50px;
  color: #726bb1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.left-portion p {
  font-size: 21px;
  padding-left: 0px;
  text-align: center;
  width: 569px;
  margin: 0px;
  font-weight: 800;
  color: rgb(85, 85, 85);
  font-family: "Poppins";
}
.left-portion img {
  padding-left: 15px;
  padding-top: 48px;
}

.right-portion {
  display: inline-block;
  margin-top: 180px;
  margin-left: 20px;
}









.text-content {
  /* position: absolute; */
  padding-top: 90px;
  float: left;
  margin-left: 0px;
}
.text-content h2 {
  font-size: 46px;
  color: #726bb1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 58px;
  width: 570px;
  text-align: center;
}
.text-content h4 {
  /* width: 560px; */
  font-size: 23px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(85, 85, 85);
  font-family: "Poppins";
  width: 356px;
  margin: 0px;
  padding-left: 114px;
  text-align: center;
}
.text-content p {
  font-size: 24px;
  font-family: "Roboto";
  opacity: 0.9;
  line-height: 30px;
  color: #828282;

  width: 551px;
  padding-left: 18px;
  text-align: justify;
}
.row-1
{
  padding-right: 0px;
}
.image-1 
{
  padding-left: 30px;
}
.image-3 {
  padding-left: 0;
  margin-left: 40px;
}
.image-4 {
  padding-left: 0;
  margin-left: 40px;
}

.image-2 {
  padding-top: 50px;
  margin-left: 35px;
}


.box-page-6{
  margin: 0px;
 
}
.box-2-page-6
{
 

   margin: 0px;
}




/* make better page */
.main-text {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 0px;
  padding-top: 0px;
  display: block;
  margin-left: 597px;
}
.main-text-content {
  width: 460px;
  font-size: 21px;
  text-align: right;
  color: white;
  font-weight: 100;
  margin-left: -494px;
  margin-bottom: 0px;
}
.main-text h2 {
  width: 557px;
  text-align: right;
  font-size: 60px;
  color: white;
  padding-left: 0px;
  margin-left: -604px;
  margin-bottom: 0px;
}
/* page-6 */
.heading-part {
  width: 520px;
  text-align: center;
  padding-left: 43px;
}
.row-1-page-6 {
  padding-left: 10px;
}
.row-2-page-6 {
  padding-left: 10px;
  margin-top: 0;
}
.text-section-page-7 {
  position: absolute;
  padding-top: 120px;
  padding-left: 26px;
}

.text-section-page-7 h3 {
  width: 534px;
  font-size: 23px;
  line-height: 25px;
  text-align: justify;
  color: #555555;
  font-weight: 700;
  font-family: "Roboto";
}
.text-section-page-7 p {
  width: 543px;
  text-align: justify;
  font-size: 22px;
  line-height: 25px;
  color: #555555;
  font-weight: 500;
  font-family: "Roboto";
}
.image-section hr {
  position: absolute;
  margin-top: 686px;
  position: absolute;
  width: 550px;
  opacity: 0.2;
  color: #828282;
}
.image-section h5 {
  position: absolute;
  margin-top: 646px;
  margin-left: 480px;
  font-size: 18px;
  padding-bottom: 150px;
}
.box-on-read-more-2 {
  position: absolute;
  border: 1px solid rgb(207, 205, 255);
  background-color: rgb(207, 205, 255);
  float: right;
  margin-top: 631px;
  margin-left: 537px;
  width: 35px;
  height: 35px;
}
/* page-8 css begains from here */
.page-8 {
  clear: both;
  margin-left: 0px;
}
.heading-page-8 {
  margin-top: 770px;
}
.heading-page-8 h2 {
  margin-left: 55px;
  width: 494px;
  font-size: 48px;
  color: #726bb1;
  margin-bottom: 0px;
  font-family: "Poppins";
}
.heading-page-8 p {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  color: #555555;
  width: 555px;
  text-align: center;
  margin-left: 20px;
  padding-bottom: 75px;
  margin-top: 10px;
}
/* amazing images content  */
.amazing-image-1 img {
  float: left;
  padding-left: 20px;
  position: relative;
}
.amazing-text-1 {
  transform: rotate( 
0deg
);
  position: absolute;
  margin-left: 20px;
  margin-top: 338px;
  line-height: 5px;
}
.amazing-text-2 {
  transform: rotate( 0deg );
  position: absolute;
  margin-top: 743px;
  line-height: 2px;
  margin-left: 30px;
}
.amazing-image-3 img {
  float: left;
  margin-left: 304px;
  position: relative;
  margin-top: -748px;
}
.amazing-text-3 {
  transform: rotate( 
0deg
);
  position: absolute;
  margin-top: 341px;
  margin-left: 302px;
  line-height: 2px;
}
.amazing-image-4 img {
  float: left;
  margin-left: 311px;
  margin-top: -335px;
  position: relative;
}
.amazing-text-4 {
  transform: rotate( 
0deg
);
  position: absolute;
  margin-left: 317px;
  margin-top: 743px;
  line-height: 1px;
}
.content-page-9 {
  position: absolute;
  width: 523px;
  margin-left: 0px;
  margin-top: 110px;
  text-align: center;
  align-items: center;
}
.content-page-9 h3 {
  line-height: 24px;
  margin-left: 25px;
  margin-top: -104px;
  padding-bottom: 120px;
  font-family: "Poppins";
}
.content-page-9 {
  position: absolute;
  width: 560px;
 
  margin-left: 0px;
  margin-top: 110px;
  text-align: center;
  align-items: center;
}
.content-page-9 p {
  font-size: 21px;
  font-family: "Roboto", sans-serif;
  color: #555555;
  text-align: justify;
  padding-bottom: 59px;
  margin-left: 30px;
}
.page-10 {
  clear: both;
  margin-top: 605px;
}
.heading-page-10 {
  padding-left: 0px;
  width: 555px;
  height: 190px;
}
.heading-page-10 p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  margin-left: 40px;
  color: #555555;
  line-height: 28px;
}
.form-page-10 {
  padding-top: 30px;
  padding-left: 14px;
}
.form-page-10 input {
  width: 342px;
  height: 60px;
  border: transparent;
  box-shadow: 1px 1px 3px rgb(128 127 127);
}
.latest-news {
  text-align: center;
  padding-left: 0;
  padding-top: 60px;
}
.all-last-boxes {
  margin-left: 94px;
  padding-top: 60px;
}
.last-box-1 {
  float: left;
  padding-left: 0px;
  margin-left: 0px;
}
.last-box-2 {
  float: left;
  padding-left: 0px;
  margin-left: 0px;
}
.last-box-3 {
  float: left;
  margin-left: 0px;
}


}



/* finallyt the media quarry is here for the mobile phone */

@media (max-width: 550px)
{

  .page-1-box-content {
    width: 320px;
    padding-left: 0px;
    margin-left: 30px;
    position: absolute;
    top: 167px;
    border: 8px solid rgb(240, 240, 249);
    padding-top: 43px;
}
.page-1-box-content h2 {
  font-family: "Poppins", sans-serif;
  padding-left: 30px;
  font-size: 30px;
  color: #ffff;
  
  font-weight: 600;
}
.page-1-box-content h3 {
  font-family: "Poppins", sans-serif;
  line-height: 69px;
  font-size: 53px;
  color: #726bb1;
  width: 300px;
  margin-left: 23px;
  margin-top: -30px;
  padding-bottom: 11px;
}
.page-1-box-content p {
  font-family: Roboto, sans-serif;
  margin-top: -56px;
  line-height: 29px;
  margin-left: 25px;
  font-size: 20px;
  width: 267px;
  color: rgb(29, 29, 29);
  padding-bottom: 10px;
}
.memphis img {
  padding-left: 40px;
  padding-top: 70px;
  width: 80%;
}
.vertical-text h2 {
  transform: rotateZ( 
270deg
);
  font-family: "Poppins", sans-serif;
  margin-left: -118px;
  margin-top: 630px;
  width: 24px;
  opacity: 0.2;
  font-size: 110px;
  color: #726bb1;
  font-family: "Poppins";
  filter: drop-shadow(0px 12px 15px rgba(6, 7, 7, 0.12));
}
.vertical-text h3 {
  font-size: 730px;
  opacity: 0.04;
  transform: rotateZ( 
180deg
);
  font-family: "Poppins", sans-serif;
  transform: scaleY(1, -1);
  float: left;
  margin-left: -170px;
  margin-top: -346px;
}

.image-page-2 {
  position: absolute;
  display: inline-block;
  margin-top: -1001px;
  left: 350px;
}
.image-page-2 p {
  padding-top: 44px;
  font-size: 24px;
  width: 358px;
  line-height: 28px;
  color: #555555;
  font-weight: 300;
  font-family: "Roboto";
  text-align: justify;
}
.content-page-2 {
  left: 0;
  margin-left: -170px;
  position: absolute;
  margin-top: -227px;
}
.page-3 {
  background-color: rgb(245, 249, 253);
  padding-bottom: 40px;
  position: relative;
  margin-top: 525px;
}
.content-page-2 h3 {
  font-size: 47px;
  width: 327px;
  font-family: "Poppins", sans-serif;
  line-height: 69px;
  text-align: center;
  padding-top: 91px;
  margin-left: 99px;
}
.content-page-2 p {
  font-size: 25px;
  width: 251px;
  text-align: justify;
  line-height: 27px;
  margin-left: 119px;
  font-family: "Poppins", sans-serif;
}
.left-portion p {
  font-size: 21px;
  padding-left: 0px;
  text-align: center;
  width: 359px;
  margin: 0px;
  font-weight: 800;
  color: rgb(85, 85, 85);
  font-family: "Poppins";
}
.left-portion h2 {
  margin-top: -860px;
  padding-left: 0;
  font-size: 50px;
  text-align: center;
  width: 359px;
  color: #726bb1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.left-portion img 
{
  width: 76%;
  padding-left: 40px;
    padding-top: 48px;
}

.right-portion {
  display: inline-block;
  margin-top: -200px;
  margin-left: 10px;
}
.box-1 p {
  font-size: 21px;
  width: 252px;
  line-height: 27px;
  font-family: "Roboto", light;
  padding-left: 86px;
  opacity: 0.9;
}
.image-section hr {
  position: absolute;
  margin-top: 686px;
  position: absolute;
  width: 200px;
  opacity: 0.2;
  color: #828282;
}
.text-content h2 {
  font-size: 46px;
  color: #726bb1;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 58px;
  width: 356px;
  text-align: center;
}
.text-content h4 {
  /* width: 560px; */
  font-size: 23px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(85, 85, 85);
  font-family: "Poppins";
  width: 356px;
  margin: 0px;
  padding-left: 4px;
  text-align: center;
}
.text-content p {
  font-size: 24px;
  font-family: "Roboto";
  opacity: 0.9;
  line-height: 30px;
  color: #828282;
  width: 339px;
  padding-left: 18px;
  text-align: justify;
}
.image-1 img 
{
  width: 75%;
}
.image-2 img 
{
  width: 75%;
}
.image-3 img 
{
  width: 75%;
}
.image-4 img 
{
  width: 75%;
}
.main-text {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 0px;
  padding-top: 0px;
  display: block;
  margin-left: 360px;
}


.evana-big h2 {
  margin-top: 191px;
  font-size: 92px;
  line-height: 0px;
  font-family: "Poppins";
  padding-top: 66px;
  padding-left: 9px;
  opacity: 0.1;
  font-weight: 900;
}
.empty-background {
  background-color: #c5b7db;
  height: 206px;
  width: 139px;
  position: absolute;
  opacity: 0.5;
  margin-top: -139px;
  margin-left: 133px;
}
.main-text h2 {
  width: 475px;
  text-align: right;
  font-size: 36px;
  color: white;
  padding-left: 0px;
  margin-left: -440px;
  margin-bottom: 0px;
}
.main-text-content {
  width: 372px;
  font-size: 21px;
  text-align: right;
  color: white;
  font-weight: 100;
  margin-left: -332px;
  margin-bottom: 0px;
}
.image-2 h3 {
  position: absolute;
  margin-left: 73px;
  margin-top: 687px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
.heading-part {
  width: 320px;
  text-align: center;
  padding-left: 43px;
}
.box-page-6
{
  width: 280px;
}
.box-2-page-6
{
  width: 280px;
}
.text-section-page-7 h2 {
  width: 295px;
  font-size: 33px;
  margin-top: -10px;
  color: #222222;
  font-family: "Poppins";
}
.text-section-page-7 h3 {
  width: 265px;
  font-size: 23px;
  line-height: 25px;
  text-align: justify;
  color: #555555;
  font-weight: 700;
  font-family: "Roboto";
}
.text-section-page-7 p {
  width: 340px;
  text-align: justify;
  font-size: 23px;
  line-height: 25px;
  color: #555555;
  font-weight: 500;
  font-family: "Roboto";
}
.image-section h5 {
  position: absolute;
  margin-top: 832px;
  margin-left: 277px;
  font-size: 18px;
  padding-bottom: 150px;
}
.box-on-read-more-2 {
  position: absolute;
  border: 1px solid rgb(207, 205, 255);
  background-color: rgb(207, 205, 255);
  float: right;
  margin-top: 820px;
  margin-left: 340px;
  width: 35px;
  height: 35px;
}
.heading-page-8 {
  margin-top: 908px;
}
.heading-page-8 h2 {
  margin-left: 25px;
  width: 372px;
  text-align: center;
  font-size: 48px;
  color: #726bb1;
  margin-bottom: 0px;
  font-family: "Poppins";
}
.heading-page-8 p {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  color: #555555;
  width: 311px;
  text-align: justify;
  margin-left: 56px;
  padding-bottom: 75px;
  margin-top: 10px;
}
.amazing-image-1 img {
  float: left;
  padding-left: 80px;
  position: relative;
}
.amazing-text-1 {
  transform: rotate( 
0deg
);
  position: absolute;
  margin-left: 80px;
  margin-top: 330px;
  line-height: 5px;
}
.amazing-image-2 img {
  float: left;
  margin-left: -256px;
  margin-top: 792px;
  position: relative;
}
.amazing-text-2 {
  transform: rotate( 
0deg
);
  position: absolute;
  margin-top: 732px;
  line-height: 2px;
  margin-left: 91px;
}
.amazing-image-3 img {
  float: left;
  margin-left: 80px;
  position: relative;
  margin-top: -733px;
}
.amazing-text-3 {
  transform: rotate( 
0deg
);
  position: absolute;
  margin-top: 1122px;
  margin-left: 88px;
  line-height: 2px;
}
.amazing-image-4 img {
  float: left;
  margin-left: 86px;
  margin-top: 50px;
  position: relative;
}
.amazing-text-4 {
  transform: rotate( 
0deg
);
  position: absolute;
  margin-left: 86px;
  margin-top: 1516px;
  line-height: 1px;
}
.content-page-9 {
  position: absolute;
  width: 355px;
  margin-left: 0px;
  margin-top: 110px;
  text-align: center;
  align-items: center;
}
.page-10 {
  clear: both;
  margin-top: 700px;
}
.heading-page-10 {
  padding-left: 0px;
  width: 333px;
  height: 190px;
}
.form-page-10 {
  padding-top: 160px;
  padding-left: 14px;
}
.form-page-10 input {
  width: 250px;
  height: 60px;
  border: transparent;
  box-shadow: 1px 1px 3px rgb(128 127 127);
}

.form-page-10 button {
  width: 90px;
  padding-top: 20px;
  padding-bottom: 23px;
  background-color: #cfccff;
  border: transparent;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  margin-left: -4px;
  margin-bottom: 2px;
}
.latest-news h2 {
  width: 356px;
  font-size: 50px;
  margin-bottom: 0px;
  color: #726bb1;
  font-family: "Poppins";
  text-align: center;
}

.latest-news h3 {
  width: 346px;
  font-family: "Roboto", sans-serif;
  font-family: 900;
  color: #555555;
  font-size: 25px;
}

.all-last-boxes {
  margin-left: 17px;
  padding-top: 34px;
}
.all-last-boxes button {
  margin-left: -4px;
  border: transparent;
  background-color: transparent;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  padding-bottom: 85px;
}
.about {
  float: left;
  padding-left: 0;
}
.evana-last {
  float: left;
  padding-left: 2px;
}
.quick-links {
  float: left;
  padding-left: 44px;
}
.photo-gallery {
  float: left;
  padding-left: 40px;
}

}




@media (max-width: 360px)
{





}