@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


.container
{
max-width: 100%;
width: 1600px;
max-height: 100%;
margin: 0 auto;
padding: 0 auto;
}
.top-buttons
{
    margin-left: 200px;
    float: left;
    
}
.search-bar input button
{
    display: inline;
}
.top-buttons ul li
{
    display: inline;
    width: 200px;
    font-size: 15px;
    padding-left: 11px;
    
    
}

.fa 
{
    height: 15px;
    width: 20px;
    padding: 10px;
    text-align: center;
    
    text-decoration: none;
    border-radius: 50%;
    padding-top: 15px;
    color: rgb(106, 49, 48);
    
}
.fa-linkedin
{
background-color: rgb(210, 210, 210);

}
.fa-linkedin:hover
{
    background-color: rgb(238, 128, 47);
    color: white;
}
.fa-twitter
{
    background-color: rgb(210, 210, 210);
}
.fa-twitter:hover
{
    background-color: rgb(238, 128, 47);
    color: white;
}
.fa-pinterest-p
{
    background-color: rgb(210, 210, 210);
}
.fa-pinterest-p:hover
{
    background-color: rgb(238, 128, 47);
    color: white;
}
.fa-google-plus
{
    background-color: rgb(210, 210, 210);
}
.fa-google-plus:hover
{
    background-color: rgb(238, 128, 47);
    color: white;
}
.fa-rss
{
    background-color: rgb(210, 210, 210);
}
.fa-rss:hover
{
    background-color: rgb(238, 128, 47);
    color: white;
}
.heading
{
    background-color: rgb(168, 140, 149);
    height: 70px;
}



.search-bar
{
    float: right;
    padding-top: 18px;
    padding-right: 228px;
}
.search-bar input
{
width: 219px;
height: 30px;
border-radius: 5px;
}
::placeholder
{
    font-family: 'Open Sans', sans-serif;
}
.search-bar button
{
    width: 75px;
    height: 33px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: rgb(151, 69, 95);
    
}
.hero-logo img
{
    margin-left: 150px;
    padding-top: 23px;
    padding-bottom: 23px;
    
}
.page-1-buttons
{
    text-align: center;
    padding-right: 50px;
    background-color: rgb(151, 61, 95);
    padding-top: 5px;
    padding-bottom: 5px;
    
   
}

.page-1-buttons ul li
{
    display: inline;
    padding: 15px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
    padding-top:22px ;
  padding-bottom: 22px;
  
}
.page-1-buttons ul li:hover
{
    background-color: rgb(106, 49, 48);
    cursor: pointer;
    border-radius: 5px;
    
  
    
}



.left-content
{
width: 511px;
padding-top: 75px;
padding-left: 215px;
float: left;
}
.left-content h2
{
    font-family: 'Open Sans', sans-serif;
}
.left-content
{
    font-family: 'Open Sans', sans-serif;
}
.left-content button
{
    height: 50px;
    width: 150px;
    background-color: rgb(106, 49, 68);
    color: white;
 
}
.left-content i{
    color: white;
}
.right-content img
{
    padding-top: 68px;
    padding-left: 75px;
    padding-bottom: 50px;

}
.our-services
{
   text-align: center;
}
.our-services h2
{
    font-family: 'Open Sans', sans-serif;
    color: rgb(106, 49, 68);
    font-size: 36px;
  
}
.our-services p
{
    font-family: 'Open Sans', sans-serif;
    color: rgb(51, 51, 51);
    font-size: 13px;
    margin-top: -25px;
    

}

.page-3
{
    background-color: rgb(245, 245, 245);
    padding-bottom: 680px;
    width: 1600px;
    padding-top: 50px;
    
}

.main-content-page-3
{
display: inline;

    
}
.all-boxes
{
    padding-left: 140px;
}
.box-row-1
{
    float: left;
    width: 443px;
    padding-bottom: 72px;

}
.box-row-1:hover
{
    background-color: white;
}
.box-row-2
{
    float: left;
    width: 443px;
    padding-bottom: 72px;
}
.box-row-2:hover
{
    background-color: white;
}
.box-row-1 h2
{
    opacity: 0.1;
    font-size:70px;
    position: relative;
    font-family: 'Oswald', sans-serif;
    padding-left: 85px;
}
.box-row-1 h3
{
    position:absolute;
    margin-top: -95px;
    width: 200px;
    font-size: 14px;
    margin-left: 130px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(82, 56, 39);
}
.box-row-1 p
{
width: 255px;
margin-top: -40px;
font-size: 11px;
padding-left: 130px;
font-family: 'Open Sans', sans-serif;
color: rgb(156, 156, 156);
}
.box-row-2 h2
{
    opacity: 0.1;
    font-size:70px;
    position: relative;
    font-family: 'Oswald', sans-serif;
    padding-left: 85px;
}
.box-row-2 h3
{
    position:absolute;
    margin-top: -95px;
    width: 200px;
    font-size: 14px;
    margin-left: 130px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(82, 56, 39);
}
.box-row-2 p
{
width: 255px;
margin-top: -40px;
font-size: 11px;
padding-left: 130px;
font-family: 'Open Sans', sans-serif;
color: rgb(156, 156, 156);
}


.heading-page-4 
{

background-image: url(/assets/joanna-kosinska-289519-unsplash.png);
height: 542px;
margin-top: -25px;


}
.heading-page-4 h2
{
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
    font-size: 31px;
    padding-top: 74px;
    
}
.forms-page-4
{
    text-align: center;
    padding-top: px;
}


.forms-part-1 input
{
    width: 455px;
    height: 45px;
    border-radius: 7px;
    margin-top: 6px;
}
.forms-part-2 input
{
    width: 455px;
    height: 45px;
    border-radius: 7px;
    margin-top: 6px;
}
.forms-part-3 input
{
    width: 920px;
    height: 126px;
    border-radius: 7px;
    margin-top: 6px;
    
}
::placeholder
{
    color: rgb(86, 87, 87);
    font-family: 'Open Sans', sans-serif;
    opacity: 0.7;
    padding-left: 15px;

}
.contact-now-button
{
text-align: center;
padding-top: 20px;
}
.contact-now-button button
{
    height: 55px;
    width: 256px;
    border-radius: 50px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: rgb(151, 69, 95);
    border: transparent;
    cursor: pointer;
    
}
.contact-now-button button:hover
{
background-color:rgb(151, 151, 165);
}
.whole-contant-page-5
{
    text-align: center;
    padding-top: 55px;
    padding-bottom: 75px;
}
.whole-contant-page-5 p
{
    font-family: 'Open Sans', sans-serif;
    color: rgb(106, 49, 48);
}

