@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin-top: 0px;
  padding: 0px;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}
.page-1 {
  background-image: url(/assets/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 850px;
}

.image-1 {
  float: left;
  padding: 50px;
}

.scooter-part {
  float: right;
  padding-top: 50px;
}

.tagline-1 img {
  color: black;
  border: dashed;
  border-width: 2px;
  padding: 5px;
  margin-left: 15px;

}

.food-logo {
  margin-top: 0px;
  float: right;
  padding-top: 100px;
}
.brand-content span {
  float: left;
  margin-bottom: 30px;
  margin-left: 30px;
}
.brand-content {
  padding-top: 400px;
  margin-left: 25px;
}
.left-portion span {
  background-image: url(/assets/page-2-image-1.png);
  width: 596px;
  height: 420px;
  margin: 50px;
  margin-top: -0px;
}
.image-1-text {
  color: white;
}
/* h3::last-line {
        color: white;
        font-variant: small-caps;
        font-size: 50px;
      }
       */
.image-2-text {
  background-image: url(/assets/page-2-image-2.png);
  background-repeat: no-repeat;
  padding: 80px;
  margin-left: 700px;
  margin-top: 50px;
  color: white;
}
.image-3-text {
  background-image: url(/assets/page-2-image-3.png);
  background-repeat: no-repeat;
  padding: 100px;
  margin-left: 700px;
  margin-top: 0px;
  color: white;
}
.page-2-button {
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}
.second-page-button {
  color: rgb(61, 37, 20);
  background-color: rgb(191,34,34);
  font-size: 16px;
  height: 50px;
  width: 220px;
  font-weight: bolder;
}
.last-heading {
  text-align: center;
  color: rgb(61, 37, 20);
  font-family: "Bebas Neue", Regular;
  font-weight: bolder;
  font-size: 50px;
  padding-top: 0px;
}
.last-heading .paragraph {
  text-align: center;
  align-items: center;
  color: black;
  font-size: 20px;
  font-weight: 100;
  align-items: center;
  width: 900px;
  margin-top: -120px;
  margin-left: 210px;
  padding-bottom: 50px;
}

.image-1-page-3 {
}
.image-1-page-3 .image-1-1 {
  width: 400px;
  height: 280px;
}

.image-1-page-3 {
  width: 33%;
  float: left;
}
.heading-under-image {
  color: rgb(61, 37, 20);
  font-family: "Bebas Neue", Regular;
  font-weight: bolder;
  font-size: 35px;
  padding-left: 100px;
  padding-top: 0px;
}

.paragraph-under-image {
  color: black;
  font-size: 15px;
  font-weight: 100;
  width: 300px;
  text-align: center;
  margin-left: 80px;
}
.page-3-1 .image-1-page-3 .image-1-2 {
  width: 400px;
  height: 300px;
  padding-left: 25px;
}
/* .butons-for-burger .buttons-below-burger
{
    float: right;
    width: 33%;
} */
.button-below {
  color: rgb(61, 37, 20);
  background-color: rgb(170, 27, 27);
  font-size: 16px;
  height: 50px;
  width: 120px;
  font-weight: bolder;
  margin-left: 170px;
}
.image-with-fries {
  margin-top: 200px;
  float: right;
}

/* .page-4 .main-base
{
  border-style: solid 20px black;
  
} */
.page-4 {
  margin-top: 600px;
  margin-left: 0px;
}
.main-base {
  border: px solid;
  width: 1300px;
  margin-left: 20px;
  padding-top: 400px;
  box-shadow: 10px 10px 88px #7e7d7d;
}
.content {
  float: left;
  width: 45%;
  margin-left: 60px;
  margin-top: -400px;
}
.paragraph-for-contnet {
  width: 600px;
  font-size: 30px;
}
.small-heading {
  padding-top: 20px;
  color: black;
  font-size: 35px;
  color: rgb(61, 37, 20);
  font-family: "Bebas Neue", Regular;
  font-weight: bolder;
}
.big-heading {
  font-size: 55px;
  margin-top: -60px;
  color: rgb(61, 37, 20);
  font-family: "Bebas Neue", Regular;
  font-weight: bolder;
  width: 500px;
}
.content-image img {
  margin-left: 630px;
  padding: 25px;
}



/* .reservation 
{
  padding-top: 20px;
  color: black;
  font-size: 35px;
  color: rgb(61, 37, 20);
  font-family: "Bebas Neue", Regular;
  font-weight: bolder;
}
.book-the-table 
{
  
  color: black;
  font-size: 65px;
  color: rgb(61, 37, 20);
  font-family: "Bebas Neue", Regular;
  font-weight: bolder;
} */
/* .image-burger
{
width: 289;
height: 337;
float: left !important;
} */
.page-5
{
  float:left
}
.image-burger
{
margin-right: 500px;

margin-top: 70px;
}
.reservation h4
{
text-align: center;
margin-left: 0px;
margin-top: -200px;
color: black;
  font-size: 30px;
  color: rgb(61, 37, 20);
  font-family: "Bebas Neue", Regular;
  font-weight: bold;
}
.reservation .book
{
  margin-left: 470px;
  margin-top: -28px;
  color: black;
  font-size: 50px;
  color: rgb(61, 37, 20);
  font-family: "Bebas Neue", Regular;
  font-weight: bolder ;
}
.table-data
{
  margin-left: 250px;
}
input
{
  width: 350px;
  height: 35px;
  color: #7e7d7d;
  font-weight: bold;
  padding: 25px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 1px ;
  


}
.last-button-page-5
{

  width: 350px;
  height: 35px;
  background-color:rgb(191,34,34);
  font-weight: bold;
 height: 55px;
 margin-left: 20px;
 margin-top: 15px;
 
  
  text-align: center;
}
.plate-and-fries
{
  float: right;
  padding-left: 55px;
}
.blood-bottle
{
  float: left;
  
}
.page-6 
{
  background-image: url(/assets/footer-bg.png);
  width: 1300px;
  height: 521px;
  background-size: cover;
  margin-left: 20px;
  margin-top: 20px;
  float: left;
  margin-bottom: 50px;
  padding-left: 45px;
  background-repeat: no-repeat;
}

.image-logo
{
  padding-top: 200px;
}
.last-logo-content
{
  color: white;
  padding-top: 45px;
  font-family: "Bebas Neue", Regular;
  width: 500px;
  padding-left: 25px;
}
.right-footer-part
{
  color: white;
  float: right;
  margin-top: -65px;
  width: 300px;
  font-size: 14px;
}
.company-name
{
  padding-top: 60px;
}
.last-line 
{
  color:white;
  padding-top: 65px;
  margin-left: 50px;
  display: inline ;

}
.social-links
{
  float: right;
  margin-top: -50px;
  padding-right: 135px;
}