@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@600&display=swap");

body {
  margin: 0 auto;
  padding: 0 auto;
}

.container {
  max-width: 1920px;
  width: 100%;
  /* max-height: 100%; */
  margin: 0 auto;
}

.wrapper {
  max-width: 1170px;
  width: 100%;
  /* margin-left: 375px; */
  margin: 0 auto;
}
.page-1 {
  clear: both;
  background-color: #fcfcfc;
}
.hero-text {
  padding-top: 200px;
  position: relative;
  padding-bottom: 10px;
}
.hero-text h2 {
  font-size: 56px;

  color: #444444;
  font-weight: 900;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}


.hero-text
{
  font-size: 15px;
  /* background-color: #2a2a2a; */

}

.hero-text-content {
}
.hero-text-content p {
  width: 778px;
  height: 48px;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #757575;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}
.hero-image img {
  position: absolute;
  margin-left: 624px;
  top: 0px;
  width: 55%;
  margin-top: -45px;
  
  z-index: +1;
}
.hero-text-button {
}
.hero-text-button button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #444444;
  font-size: 15px;
  background-color: rgba(74, 74, 74, 0);
  border: 1px solid #444444;
  width: 180px;
  height: 55px;
}
.hero-text-button button:hover {
  background-color: #ffe300;
  cursor: pointer;
}

.slider {
  margin-top: 40px;
  /* position: absolute; */
}
.slider i {
  color: #e3e3e3;
}
.slider i:hover {
  color: #444444;
  cursor: pointer;
}
.hero-text-backgroung {
  height: 185px;
  width: 185px;
  border: 1px solid #ffe300;
  background-color: #ffe300;
  border-radius: 50%;
  margin-top: -386px;
  margin-left: -25px;
}
/* .hero-image-backgroung-1 {
  position: absolute;
  height: 120px;
  margin-top: 200px;
  margin-left: 620px;
  width: 120px;
  border-radius: 50%;
  border: 38px solid #ffe300;
 
}
.hero-image-backgroung-2 {
  position: absolute;
  height: 460px;
  width: 460px;
  border-radius: 50%;
  border: 140px solid #ffe300;
  top: 0px;
  margin-left: 830px;
  margin-top: 106px;

} */

.hero-image-backgroung-1 img
{
  margin-left: 45%;

}
/* .hero-image-backgroung-1
{
  margin-top: 12%;
} */

.hero-image-backgroung-2 img
{
margin-left: 62%;
    width: 46%;
    margin-top: -33%;
}

/* FORM HERE THE CSS OF NAV-BAR AND PAGE-2 BEGAIN */

.nav-bar {
  background-color: #2a2a2a;
  height: 64px;
  margin-top: 22px;
}
.nav-bar-content {
  display: inline-block;
  margin-top: 4px;
}
.nav-bar-content img {
  float: left;
  margin-top: 15px;
  padding-right: 25px;
}
.nav-bar-content h4 {
  float: left;

  padding-left: 60px;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: "Montserrat";
}
.nav-bar-content h4:hover {
  color: yellow;
}
.nav-bar {
  content: "";
  clear: both;
}

/* FROM HERE THE CSS OF PAGE-2 BEGAINS WHICH DOES NOT INCLUDES THE NAV-BAR */

.page-2 {
  background-color: white;
  content: "";
  clear: both;
  /* position: relative; */
}

.image-circle {
  height: 0px;
}

.image-circle img {
  margin-top: 400px;
  margin-left: -90px;
  width: 25%;
}
.whole-content-page-2 {
  /* position: absolute; */
}
.heading-content-page-2 h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 95px;
  font-size: 91px;
  color: #e8e8e8;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
}
.heading-content-page-2 h2 {
  width: 944px;
  font-size: 36px;
  color: #444444;
  font-weight: 700;
  font-family: "Montserrat";
  margin-left: 305px;
  margin-top: -60px;
}
.paragraph-page-2 {
  width: 933px;
  text-align: center;
  margin-left: 121px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: #757575;
}
.buttons-page-2 {
  text-align: center;
}
.buttons-page-2 button {
  width: 225px;
  height: 60px;
  background-color: #ffe300;
  color: black;
  border: 1px solid transparent;
  margin-top: 56px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  font-family: "Montserrat";
  font-weight: 600;
}
.buttons-page-2 button:hover {
  background-color: black;
  color: #ffe300;
  cursor: pointer;
}

/* HERE IS THE EMPTY BACKGROUND CIRCLE  */

/* FROM HERE THE PART OF BOXES OF PAGE-2 START  */
.all-boxes {
  display: inline-block;
}
.box-1-page-2 {
  border: 1px solid black;
  background-color: #181818;
  width: 352px;
  margin-top: 85px;
  float: left;
  margin-left: 30px;
}
.box-1-page-2 i {
  font-size: 100px;
  text-align: center;
  align-items: center;
  margin-left: 130px;
  padding-top: 90px;
  color: #ffe300;
}
.responive-deign h4 {
  padding-top: 10px;
  font-size: 24px;
  color: #ffffff;
  font-weight: 100;
  font-family: "Montserrat";
  margin-left: 65px;
  padding-bottom: 90px;
}
.responive-deign p {
  margin-top: -100px;
  padding-bottom: 35px;
  text-align: center;
  font-family: "Mulish", sans-serif;
  opacity: 0;
  font-size: 16px;
  width: 349px;
  z-index: 1;
}
.responive-deign img
{
  position: absolute;
  margin-top: -130px;
  margin-left: 212px;
  opacity: 0.1;
  color: #010101;

}
.box-1-page-2:hover p {
  opacity: 1;
  transition: 0.5s ease;
}
.box-2-page-2:hover p {
  opacity: 1;
  transition: 0.5s ease;
}

.box-3-page-2:hover p {
  opacity: 1;
  transition: 0.5s ease;
}

/* HOVER OVER BOX */

.box-1-page-2:hover {
  color: white;
  background-color: #ffe300;
}
.box-2-page-2:hover {
  color: white;
  background-color: #ffe300;
}
.box-3-page-2:hover {
  color: white;
  background-color: #ffe300;
}
.fa-lock {
  padding-left: 20px;
}
.box-1-page-2:hover i {
  color: white;
}
.box-2-page-2:hover i {
  color: white;
}
.box-3-page-2:hover i {
  color: white;
}
.fa-dribbble {
  padding-left: 10px;
}

.box-2-page-2 {
  border: 1px solid black;
  background-color: #181818;
  width: 352px;
  margin-top: 85px;
  float: left;
  margin-left: 30px;
}
.box-2-page-2 i {
  font-size: 100px;
  text-align: center;
  align-items: center;
  margin-left: 120px;
  padding-top: 90px;
  color: #ffe300;
}
.responive-deign h4 {
  padding-top: 10px;
  font-size: 24px;
  color: #ffffff;
  font-weight: lighter;
  font-family: "Montserrat", sans-serif;
  margin-left: 65px;
  padding-bottom: 90px;
}
.box-3-page-2 {
  border: 1px solid black;
  background-color: #181818;
  width: 352px;
  margin-top: 85px;
  float: left;
  margin-left: 30px;
}
.box-3-page-2 i {
  font-size: 100px;
  text-align: center;
  align-items: center;
  margin-left: 120px;
  padding-top: 90px;
  color: #ffe300;
}
.responive-deign h4 {
  padding-top: 10px;
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  margin-left: 65px;
  padding-bottom: 90px;
}
.numbers-page-2 {
  margin-left: 35px;
  /* padding-bottom: 500px; */
}
.numbers-page-2 h3 {
  font-size: 30px;
  line-height: 40px;
  color: #444444;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  padding-top: 130px;
}
.special-division {
  position: relative;
  z-index: 1;
}
.important-number {
  clear: both;
  display: inline-block;
  margin-left: 35px;
}
.important-number-1 {
  float: left;
  padding-right: 220px;
  margin-left: 80px;
}
.important-number-2 {
  float: left;
  padding-right: 195px;
}
.important-number-3 {
  float: left;
  padding-right: 135px;
}
.important-number-4 {
  float: left;
}
.important-number-1 h3 {
  font-size: 46px;
  line-height: 24px;
  color: #444444;
  font-weight: 700;
  font-family: "Montserrat";
  margin-bottom: 0;
  padding-bottom: 15px;
}
.important-number-2 h3 {
  font-size: 46px;
  line-height: 24px;
  color: #444444;
  font-weight: 700;
  font-family: "Montserrat";
  margin-bottom: 0;
  padding-bottom: 15px;
}
.important-number-3 h3 {
  font-size: 46px;
  line-height: 24px;
  color: #444444;
  font-weight: 700;
  font-family: "Montserrat";
  margin-bottom: 0;
  padding-bottom: 15px;
}
.important-number-4 h3 {
  font-size: 46px;
  line-height: 24px;
  color: #444444;
  font-weight: 700;
  font-family: "Montserrat";
  margin-bottom: 0;
  padding-bottom: 15px;
}
.important-number-1 p {
  font-family: "Mulish", sans-serif;
  color: #444444;
}
.important-number-2 p {
  font-family: "Mulish", sans-serif;
  color: #444444;
}
.important-number-3 p {
  font-family: "Mulish", sans-serif;
  color: #444444;
}
.important-number-4 p {
  font-family: "Mulish", sans-serif;
  color: #444444;
}

/* .ipad
{
   margin-top: -50px;
   padding-left: 48px;
} */

  .ipad {
    position: absolute;
    margin-left: 981px;

}
.ipad img
{
  width: 100%;
}
.soluction {
  /* margin-bottom: 500px; */
}

.page-3 {
  margin-top: 391px;
  background-color: #f9f9f9;
}

.lamp {
  position: absolute;
  padding-left: 65px;
}
.lamp img
{
  width: 75%;
}
.content-page-3 {
  display: block;
  padding-top: 90px;
  padding-bottom: 110px;
  margin-left: 150px;
}

.heading-text-page-3 h2 {
  font-size: 72px;
  color: #f0f0f0;
  font-weight: 900;
  font-family: "Montserrat";
}
.heading-text-page-3 h3 {
  font-size: 26px;
  letter-spacing: 1px;
  color: #444444;
  font-weight: 700;
  font-family: "Montserrat";
  margin-top: -90px;
}
.paragraph-page-3 h4 {
  width: 558px;

  font-size: 16px;
  line-height: 24px;
  color: #757575;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
}
.paragraph-page-3 p {
  width: 558px;

  font-size: 16px;
  line-height: 24px;
  color: #757575;
  font-weight: 400;
  font-family: "Muli";
}
.paragraph-page-3 button {
  width: 225px;
  height: 60px;
  background-color: #ffe300;
  color: black;
  border: 1px solid transparent;
  margin-top: 25px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
.paragraph-page-3 button:hover {
  background-color: black;
  color: #ffe300;
  cursor: pointer;
}

.wrapper-images-page-3 {
  float: right;
  margin-top: -390px;
  width: 39%;
}

.circle-page-3 {
  position: relative;
}
.human-page-3 img {
  position: absolute;
  margin-top: -460px;
  margin-left: -100px;
}
/* HERE THE CSS OF PAGE-4 STARTS */

.page-4 {
  background-color: rebeccapurple;
  background: url(/assects/page-4\ background\ image.png);
  height: 640px;
  background-size: cover;
}
.heading-page-4 {
  align-items: center;
  padding-top: 160px;
}
.heading-page-4 img {
  margin-left: 458px;
  padding-bottom: 22px;
}
.heading-page-4 h3 {
  font-size: 44px;
  line-height: 24px;
  color: #fdfdfd;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  align-items: center;
}
.heading-page-4 p {
  width: 753px;
  height: 45px;
  font-size: 16px;
  line-height: 26px;
  color: #fdfdfd;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  text-align: center;
  margin-left: 200px;
}
.heading-page-4 button {
  width: 226px;
  height: 62px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  margin-top: 55px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.heading-page-4 button:hover {
  background-color: #ffe300;
  color: #000000;
}
.button-3-1 {
  margin-left: 335px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}
.button-3-2 {
  margin-left: 26px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}

.background-circle-page-4 {
  margin-top: -435px;
  padding-left: 1088px;
}
.heading-page-5 {
  text-align: center;
}
.heading-page-5 h3 {
  font-size: 91px;
  color: #f0f0f0;
  font-weight: 900;
  font-family: "Montserrat";
  padding-top: 125px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.heading-page-5 h4 {
  font-size: 30px;
  line-height: 24px;
  color: #444444;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-top: -45px;
  margin-bottom: 0px;
}

.middle-content-page-5 {
  padding-top: 140px;
}

.middle-content-page-5 i {
  color: white;
}

.box-5-1 {
  display: inline-block;
  width: 360px;
}
.icon-5-1 {
  float: left;
  margin-top: 25px;
  color: white;
  border: 1px solid transparent;
  /* background-color: black; */
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.icon-5-1 i {
  font-size: 25px;
  align-items: center;
}

.color-lock {
  background-color: #73c7b7;
}
.color-lock:hover {
  opacity: 0.5;
}
.color-lightbulb {
  background-color: #31a9e1;
}
.color-lightbulb:hover {
  opacity: 0.5;
}
.color-cog {
  background-color: #c183d5;
}
.color-cog:hover {
  opacity: 0.5;
}
.color-microphone {
  background-color: #eb758b;
}
.color-microphone:hover {
  opacity: 0.5;
}
.color-users {
  background-color: #73c7b7;
}
.color-users:hover {
  opacity: 0.5;
}
.color-telegram {
  background-color: #31a9e1;
}
.color-telegram:hover {
  opacity: 0.5;
}
.color-desktop {
  background-color: #ead175;
}
.color-desktop:hover {
  opacity: 0.5;
}
.color-bell {
  background-color: #7189c6;
}
.color-bell:hover {
  opacity: 0.5;
}
.color-camera {
  background-color: #4ae2a3;
}
.color-camera:hover {
  opacity: 0.5;
}

/* CSS for the above icons position */
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
  margin-left: -5px;
}
.fa-telegram:before {
  content: "\f2c6";
  margin-left: -6px;
}
.fa-camera:before {
  content: "\f030";
  margin-left: -6px;
}
.fa-bell:before {
  content: "\f0f3";
  margin-left: -4px;
}
.fa-desktop:before {
  content: "\f108";
  margin-left: -6px;
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
  margin-left: -4px;
}

.icon-5-1 i {
  margin: 23px;
}

.all-boxes-page-5 {
  padding-left: 35px;
}

.inside-content-5-1 {
  margin-left: 100px;
  margin-right: 25px;
}
.inside-content-5-1 h4 {
  width: 282px;

  font-size: 18px;
  color: #444444;
  font-weight: 700;
  font-family: "Montserrat";
}
.inside-content-5-1 p {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  color: #444444;
  font-weight: 800;
}

.row-1 {
  padding-bottom: 25px;
}
.row-2 {
  padding-bottom: 25px;
}
.row-3 {
  padding-bottom: 170px;
}

.middle-page-5-and-6 {
  background-color: #ffe300;
}

.whole-content-middle-page {
  padding-top: 105px;
}
.heading-middle-page h2 {
  font-size: 91px;
  color: #e8d100;
  font-weight: 900;
  font-family: "Montserrat";
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.heading-middle-page h3 {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-top: -50px;
  margin-bottom: 0;
  padding-bottom: 65px;
}
.button-middle-portion {
  margin-left: 330px;
  padding-bottom: 60px;
}
.button-middle-portion i {
  border: 1px solid black;
  background-color: transparent;
  color: black;
  padding: 8px 10px;
}
.button-middle-portion i:hover {
  color: white;
  background-color: black;
}

.button-middle-portion button {
  height: 35px;
  background-color: rgba(7, 135, 123, 0);
  border: 1px solid #000000;
  margin-left: 10px;
  font-size: 13px;
  line-height: 22px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.button-middle-portion button:hover {
  background-color: #000000;
  color: white;
}
.button-middle-1 {
  font-size: 11px;
  width: 100px;
  line-height: 22px;
  color: #000000;
  font-weight: 600;
  font-family: "Montserrat";
}
.button-middle-2 {
  font-size: 11px;
  width: 100px;
  line-height: 22px;
  color: #000000;
  font-weight: 600;
  font-family: "Montserrat";
}
.button-middle-3 {
  font-size: 11px;
  width: 100px;
  line-height: 22px;
  color: #000000;
  font-weight: 600;
  font-family: "Montserrat";
}
.button-middle-4 {
  font-size: 11px;

  width: 110px;
  color: #000000;
  font-weight: 600;
  font-family: "Montserrat";
}

/* .row-1-page-6 img {
  width: 477px;
}
.row-1-page-6 img:hover {
  opacity: 1;
}
.row-2-page-6 img {
  width: 477px;
}
.row-2-page-6 img:hover {
  opacity: 1;
} */
.all-images-page-6 img 
{
  width: 99%;
}
.image-1-page-6
{
  float: left;
  width: 25%;
}
.image-2-page-6
{
  float: left;
  width: 25%;
}
.image-3-page-6
{
  float: left;
  width: 25%;
}
.image-4-page-6
{
  float: left;
  width: 25%;
}
.image-1-1-page-6
{
  float: left;
  width: 25%;
}
.image-1-2-page-6
{
  float: left;
  width: 25%;
}
.image-1-3-page-6
{
  float: left;
  width: 25%;
}
.image-1-4-page-6
{
  float: left;
  width: 25%;
}
.text-1-page-6 {
  position: absolute;
  margin-top: -60px;
  width: 25%;
  background-color: #efece9;
}
.text-1-page-6 h3 {
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 36px;
  margin-left: 15px;
  color: #444444;
  font-weight: 700;
  font-family: "Montserrat";
}
.buttons-fashion {
  position: absolute;
  margin-top: -80px;
  margin-left: 229px;
  border: 1px solid transparent;
  border-radius: 50px;
  padding-left: 2px;
  width: 100px;
  height: 30px;
  background-color: #efece9;
}
.buttons-fashion button {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #e3cc00;
  margin-left: 10px;
}

.buttons-fashion button:hover {
  background-color: yellow;
}

.text-1-page-6 {
  opacity: 0;
}
.image-1-page-6:hover .text-1-page-6 {
  opacity: 0.8;
}
.image-2-page-6:hover .text-1-page-6 {
  opacity: 0.8;
}
.image-3-page-6:hover .text-1-page-6 {
  opacity: 0.8;
}
.image-4-page-6:hover .text-1-page-6 {
  opacity: 0.8;
}



/* row-2 */

.image-1-1-page-6:hover .text-1-page-6 {
  opacity: 0.8;
}
.image-1-2-page-6:hover .text-1-page-6 {
  opacity: 0.8;
}
.image-1-3-page-6:hover .text-1-page-6 {
  opacity: 0.8;
}
.image-1-4-page-6:hover .text-1-page-6 {
  opacity: 0.8;
}

.image-1-1-page-6:hover {
  float: left;
}
.image-1-2-page-6 {
  float: left;
}
.image-1-3-page-6 {
  float: left;
}
.image-1-4-page-6 {
  float: left;
}

.page-7 {
  background: white;
}
.image-1-page-7 {
  padding-top: 300px;
  position: relative;

  /* position: absolute; */
}
.image-1-page-7 img 
{
  width: 57%;
}


.written-contnet-page-7 {
  float: right;

  /* margin-right: 175px; */
  margin-top: -760px;
}
.heading-page-7 h2 {
  font-size: 91px;
  color: #ededed;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
  margin: 0px;
}
.heading-page-7 h3 {
  margin-top: -35px;
  margin-right: -85px;
  height: 22px;
  font-size: 30px;
  line-height: 0px;
  color: black;
  font-weight: 700;
  font-family: "Montserrat";
}

.all-boxes-page-7 {
  padding-top: 60px;
  margin-right: -127px;
}
.box-1-page-7 {
  width: 277px;
  text-align: center;
  float: left;
  padding-bottom: 60px;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.box-2-page-7 {
  width: 277px;
  text-align: center;
  float: left;
  padding-bottom: 60px;
  border-bottom: 1px solid #e6e6e6;
}
.box-3-page-7 {
  padding-top: 50px;
  width: 277px;
  text-align: center;
  float: left;
  border-right: 1px solid #e6e6e6;
}
.box-4-page-7 {
  width: 277px;
  padding-top: 50px;
  text-align: center;
  float: left;
}
.box-1-page-7 i {
  font-size: 48px;
}
.box-2-page-7 i {
  font-size: 48px;
}
.box-3-page-7 i {
  font-size: 48px;
}
.box-4-page-7 i {
  font-size: 48px;
}
.box-1-page-7 h5 {
  font-size: 18px;
  font-family: "Montserrat";
  color: #444444;
  margin-top: 38px;
  margin-bottom: 0px;
}
.box-2-page-7 h5 {
  font-size: 18px;
  font-family: "Montserrat";
  color: #444444;
  margin-top: 38px;
  margin-bottom: 0px;
}
.box-3-page-7 h5 {
  font-size: 18px;
  font-family: "Montserrat";
  color: #444444;
  margin-top: 38px;
  margin-bottom: 0px;
}
.box-4-page-7 h5 {
  font-size: 18px;
  font-family: "Montserrat";
  color: #444444;
  margin-top: 38px;
  margin-bottom: 0px;
}
.box-1-page-7 p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: 37px;
  margin-bottom: 0px;
  color: #7d7d7d;
}
.box-2-page-7 p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: 37px;
  margin-bottom: 0px;
  color: #7d7d7d;
}
.box-3-page-7 p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: 37px;
  margin-bottom: 0px;
  color: #7d7d7d;
}
.box-4-page-7 p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: 37px;
  margin-bottom: 0px;
  color: #7d7d7d;
}

.all-boxes-page-7 {
  display: inline-block;
}

/* from here the css of page-8 start */

.heading-page-8 {
  background: url(/assects/page-8-background.png);
  height: 1200px;
  margin-top: -92px;
  position: relative;
}
.heading-page-8 h2 {
  padding-top: 100px;
  /* padding-left: 500px; */
  margin-bottom: 0px;
  font-size: 91px;
  color: #e6d119;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
}
.heading-page-8 h3 {
  font-size: 30px;
  color: #010101;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-top: -50px;
  /* padding-left: 500px; */
}
.cart-special {
  margin-top: -56px;
  text-align: center;
  background-color: #e6e6e6;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding-top: 10px;
  margin-bottom: -2px;
  padding-bottom: 1px;
  opacity: 0.9;
}

.cart-image {
  margin-top: -840px;
  position: absolute;
}
.cart-1-page-8 {
  margin-left: 15px;
}
.cart-2-page-8 {
  margin-left: 405px;
}
.cart-3-page-8 {
  margin-left: 795px;
}
.inside-image-content-cart-1 {
  margin-top: -200px;
  color: white;
  text-align: center;
}
.inside-image-content-cart-1 h5 {
  font-size: 15px;
  margin-bottom: 0px;
  letter-spacing: 3px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  margin-top: 6px;
}
.doller-dign {
  color: #ffffff;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}
.doller-dign h5 {
  float: left;
  font-size: 35px;
  font-weight: lighter;
  font-family: "Mulish", sans-serif;
  margin-top: 15px;
}
.doller-dign h4 {
  float: left;
  font-size: 60px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: -1px;

  text-align: center;
}
.doller-dign h6 {
  float: left;
  font-size: 15px;
  font-family: "Mulish", sans-serif;
  font-weight: lighter;
}
.cart-paragraph {
  margin-top: -90px;
}
.cart-written-content {
  width: 360px;
  text-align: center;
  height: 410px;
  margin-top: -628px;
  position: absolute;
  padding-top: 60px;
  background-color: white;
}
.cart-written-content p {
  font-size: 13px;
  line-height: 30px;
  color: #808080;
  font-family: "Mulish", sans-serif;
}
.button-under-char {
  position: absolute;
  margin-top: -151px;
}

.button-under-char button {
  width: 359px;
  height: 44px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 40px;
  color: #444444;
  font-weight: 800;
  font-family: "Montserrat";
  text-align: center;
  border: 1px solid transparent;
}
.button-under-char button:hover {
  background-color: black;
  color: #ffe300;
}

/* Page-9 css begains from here  */

.page-9 {
  background-color: white;
}

.heading-page-9 {
  padding-bottom: 90px;
}
.heading-page-9 h2 {
  font-size: 91px;
  color: #f0f0f0;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 0px;
}
.heading-page-9 h3 {
  font-size: 30px;
  color: #444444;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-top: -50px;
}
.content-page-9 {
  width: 360px;
  display: inline;
}
.row-1-page-9 {
  float: left;
  padding-right: 30px;
  width: 360px;
}
.image-content-page-9 {
  position: relative;
}
.hover-content-page-9 {
  position: absolute;
  width: 360px;
  margin-top: -890px;
  text-align: center;
  background-color: yellow;
  padding-top: 97px;
  padding-bottom: 4px;
  opacity: 0;
}
.hover-content-page-9:hover {
  opacity: 1;
  transition: 0.5s ease;
}
.hover-content-page-9 h4 {
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.hover-content-page-9 h5 {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
}
.hover-content-page-9 h6 {
  width: 282px;
  height: 94px;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  margin-left: 40px;
}

.hover-icons-page-9 {
  padding-bottom: 40px;
  padding-top: 82px;
}
.hover-icons-page-9 i {
  padding-left: 22px;
  margin-left: 0px;
  font-size: 22px;
  opacity: 0.6;
}

hr {
  border: none;
  border-top: 1px dotted black;
  color: black;
  opacity: 0.2;
  height: 1px;
  width: 100%;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}
.row-2-page-9 {
  float: left;
  padding-right: 30px;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
.row-3-page-9 {
  float: left;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}

.written-content-page-9 {
  padding-top: 24px;

  background-color: #ebebeb;
}
.written-content-page-9 h3 {
  margin-top: 0;
  font-size: 16px;
  color: #444444;

  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}
.written-content-page-9 h4 {
  margin-top: 0px;
  font-size: 11px;
  color: #444444;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-bottom: 355px;
}

/* page-10 css starts here */

.page-10 img {
  background-size: cover;
  width: 99%;
}
.whole-content-page-10 {
  /* position: absolute; */
  margin-top: -330px;
}
.heading-content-page-10 {
}
.heading-content-page-10 h3 {
  font-size: 30px;
  letter-spacing: 1px;
  padding-top: 80px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Lato";
  text-align: center;
}
.heading-content-page-10 p {
  font-size: 13px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Lato";
  margin-top: -20px;
  text-align: center;
}
.buttons-page-10 button {
  width: 170px;
  height: 49px;
  margin-top: 0px;
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
}
.button-1-page-10 {
  margin-left: 420px;
}
.button-1-page-10 button {
  font-size: 13px;
  letter-spacing: 1px;
  color: #212121;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.button-1-page-10:hover {
  background-color: #ffe300;
  color: #000000;
}
.button-2-page-10:hover {
  background-color: #ffe300;
  color: #000000;
}
.button-2-page-10 {
  margin-left: 20px;
}
.button-2-page-10 {
  font-size: 13px;
  letter-spacing: 1px;
  color: #212121;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  text-align: center;
}

/* css of page-11 begain */

.page-11 {
  clear: both;
}

.whole-content-page-11 {
}
.middle-contnet-page-11 {
  /* display: inline-block; */
}
.row-1-page-11 {
  float: left;
  margin-right: 30px;
  margin-left: 15px;
}
.row-2-page-11 {
  float: left;
  margin-right: 30px;
}
.row-3-page-11 {
  float: left;
  margin-right: 30px;
}
.row-4-page-11 {
  /* float: left; */
}

.heading-page-11 h3 {
  font-size: 91px;
  color: #f0f0f0;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 0px;
  margin-top: 180px;
}
.heading-page-11 h4 {
  font-size: 30px;
  color: #444444;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-top: -50px;
  margin-bottom: 80px;
}

.image-1-page-11 {
  position: relative;
}
.special-icon-play {
  position: absolute;
  font-size: 50px;
  margin-top: -125px;
  margin-left: 110px;
}
.special-icon-play:hover {
  color: yellow;
}

.written-content {
  width: 260px;
  float: left;
}
.date-page-11 {
  position: absolute;
  width: 143px;
  border: transparent;
  height: 32px;
  border-radius: 16px;
  background-color: #f9f9f9;
  margin-top: -20px;
  margin-left: 55px;
}

.date-page-11 {
  font-size: 12px;
  letter-spacing: 0px;
  color: #444444;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.date-page-11:hover {
  background-color: #ffe300;
  color: #000000;
}

.special-icons-page-11 {
  position: absolute;
  margin-top: -80px;
  background-color: transparent;
}

.special-angle-left {
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 50px;
  padding: 6px;
}
.special-angle-right {
  margin-left: 200px !important;
  border: 1px solid black;
  border-radius: 50px;
  padding: 6px;
}

.written-content h2 {
  width: 220px;

  font-size: 18px;
  line-height: 21px;
  color: #444444;
  font-weight: 700;
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
  margin-left: 30px;
}
.written-content h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  text-align: center;
  color: #7e7e7e;
  padding-bottom: 15px;
}
.written-content p {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 21px;
}
.read-more-button-page-11 {
  width: 115px;
  height: 35px;
  margin-left: 65px;
  padding: 0px;
  border-radius: 30px;
  background-color: rgb(249, 249, 249);
  border: 2px solid transparent;
  margin-bottom: 160px;
  font-family: Mulish, sans-serif;
  font-weight: 600;
}
.read-more-button-page-11:hover {
  background-color: #ffe300;
  color: black;
  border: 1px solid black;
}

/* CSS OF PAGE-12 STARTS FROM HERE */

.page-12 {
  background-image: url(../assects/page-12-bg.png);
  margin-top: 450px;
  height: 1230px;
}
.all-inputs {
  margin-top: -50px;
}
.heading-page-12 {
}
.heading-page-12 h3 {
  font-size: 91px;
  padding-top: 100px;
  color: #e6e6e6;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 0px;
}
.heading-page-12 h4 {
  font-size: 30px;
  color: #444444;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-top: -50px;
}

.input-row-1 input {
  width: 561px;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #dedede;
  margin-top: 170px;
  margin-bottom: 25px;
}
.input-row-2 input {
  width: 561px;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #dedede;
  margin-bottom: 25px;
}
::placeholder {
  font-size: 14px;
  line-height: 22px;
  color: #808080;
  font-weight: lighter;
  padding-left: 15px;
  font-family: "Poppins";
}
.input-row-3 textarea {
  max-width: 1140px;
  min-width: 1140px;
  height: 500px !important;
  background-color: #ffffff;
  border: 1px solid #dedede;
  text-align: start;
}

.button-page-12 {
  margin-top: 22px;
  width: 147px;
  height: 60px;
  background-color: #ffe400;
  border: 1px solid #dedede;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}
.button-page-12:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.page-13-background-image {
  background: url(../assects/page-13-bg.png);
  background-size: cover;
  height: 170px;
}
.heading-content-page-13 h3 {
  font-size: 30px;
  margin-top: -100px;
  padding-bottom: 31px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}

/* css for footer content */
footer {
  background-color: black;
  height: 225px;
}
.footer-content {
  display: inline;
}
.fa-mobile {
  margin-left: 20px;
  border: 1px solid black;
  background-color: grey;
  padding: 7px 16px;
  border-radius: 50%;
}
.fa-globe {
  margin-left: 50px;
  border: 1px solid black;
  background-color: grey;
  padding: 8px 12px;
  border-radius: 50%;
}
.footer-logo i {
}
.footer-content i {
  margin-top: 65px;
}
.footer-phone {
  float: left;
  padding-left: 80px;
}
.footer-logo {
  float: left;
  padding-left: 185px;
  margin-top: 25px;
}
.footer-logo i {
  padding-left: 35px;
}
.footer-globe {
  float: left;
  padding-left: 212px;
}
.footer-content h4 {
  color: white;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  text-align: left;
}
.footer-content i {
  color: white;
  font-size: 25px;
}

/* CSS of the last copyright section */

.copyright {
  background-color: #2d2d2d;
  height: 60px;
}

.copyright-text h4 {
  color: white;
  margin-top: 0px;
  padding-top: 20px;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  text-align: center;
}

/* PAGE-6-REMANING CSS */

/* .image-1-page-6 {
  position: relative;
}
.image-2-page-6 {
  position: relative;
}
.image-3-page-6 {
  position: relative;
}
.image-4-page-6 {
  position: relative;
} */



/* media quarry for all sections starts here */

@media (max-width: 1366px)
{


  .hero-image-backgroung-2 img {
    margin-left: 59%;
    width: 42%;
    margin-top: -34%;
}
.hero-image img {
  position: absolute;
  margin-left: 620px;
  top: 0px;
  width: 47%;
  margin-top: 22px;
  z-index: +1;
}
.hero-text-content p {
  width: 496px;
  height: 48px;
  font-size: 19px;
  letter-spacing: 1px;
  padding-bottom: 40px;
  line-height: 22px;
  color: #757575;
  font-weight: bolder;
  font-family: "Lato", sans-serif;
}

.hero-text-backgroung {
  height: 185px;
  width: 185px;
  border: 1px solid #ffe300;
  background-color: #ffe300;
  border-radius: 50%;
  margin-top: -430px;
  margin-left: -25px;
}
/* page-2-css */
.heading-content-page-2 h2 {
  width: 550px;
  font-size: 36px;
  color: #444444;
  font-weight: 700;
  font-family: "Montserrat";
  margin-left: 305px;
  margin-top: -60px;
}
/* page-3-css */
.content-page-3 {
  display: block;
  padding-top: 20px;
  padding-bottom: 110px;
  margin-left: 150px;
}
.lamp {
  position: absolute;
  padding-left: 0px;
}
.lamp img {
  width: 60%;
}
.paragraph-page-3 h4 {
  width: 450px;
  font-size: 20px;
  text-align: justify;
  line-height: 24px;
  color: #757575;
  font-weight: bolder;
  font-family: "Mulish", sans-serif;
}
.human-page-3 img {
  position: absolute;
  margin-top: -402px;
  width: 40%;
  margin-left: -115px;
}
.paragraph-page-3 p {
  width: 558px;
  font-size: 19px;
  line-height: 24px;
  color: #757575;
  font-weight: 400;
  font-family: "Muli";
}
.background-circle-page-4 {
  margin-top: -435px;
  padding-left: 930px;
}
.written-contnet-page-7 {
  float: right;
  margin-right: 60px;
  margin-top: -760px;
}

/* page-7 */
.all-boxes-page-7 {
  padding-top: 60px;
  margin-right: -93px;
}
.box-2-page-7 {
  width: 260px;
  text-align: center;
  float: left;
  padding-bottom: 60px;
  border-bottom: 1px solid #e6e6e6;
}
.box-4-page-7 {
  width: 260px;
  padding-top: 50px;
  text-align: center;
  float: left;
}
.buttons-fashion {
  position: absolute;
  margin-top: -80px;
  margin-left: 190px;
  border: 1px solid transparent;
  border-radius: 50px;
  padding-left: 2px;
  width: 100px;
  height: 30px;
  background-color: #efece9;
}



}
@media (max-width: 1200px)
{
  .hero-text h2 {
    font-size: 45px;
    color: #444444;
    font-weight: 900;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
}
.hero-image img {
  position: absolute;
  margin-left: 560px;
  top: 0px;
  width: 50%;
  margin-top: -35px;
  z-index: +1;
}
.hero-text-backgroung {
  height: 168px;
  width: 168px;
  border: 1px solid #ffe300;
  background-color: #ffe300;
  border-radius: 50%;
  margin-top: -400px;
  margin-left: -25px;
}
.hero-image-backgroung-1 img {
  margin-left: 39%;
} 
.hero-image-backgroung-2 img {
  margin-left: 58%;
  width: 42%;
  margin-top: -34%;
}
/* page-2-css */
.paragraph-page-2 {
  width: 800px;
  font-size: 20px;
  text-align: center;
  margin-left: 121px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: #757575;
}
.image-circle img {
  margin-top: 438px;
  margin-left: 0px;
  width: 28%;
}
.box-1-page-2
{
  width: 305px;
  margin-left: 20px;
}
.box-2-page-2
{
  width: 305px;
}
.box-3-page-2
{
  width: 305px;
}
.box-1-page-2 i {
  font-size: 100px;
  text-align: center;
  align-items: center;
  margin-left: 105px;
  padding-top: 50px;
  color: #ffe300;
}
.box-2-page-2 i {
  font-size: 100px;
  text-align: center;
  align-items: center;
  margin-left: 105px;
  padding-top: 50px;
  color: #ffe300;
}
.box-3-page-2 i {
  font-size: 100px;
  text-align: center;
  align-items: center;
  margin-left: 105px;
  padding-top: 50px;
  color: #ffe300;
}
.responive-deign h4 {
  padding-top: 10px;
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  margin-left: 40px;
  padding-bottom: 90px;
}
.responive-deign p {
  margin-top: -100px;
  padding-bottom: 35px;
  text-align: center;
  font-family: "Mulish", sans-serif;
  opacity: 0;
  font-size: 16px;
  width: 330px;
  z-index: 1;
}
.responive-deign img {
  position: absolute;
  margin-top: -130px;
  margin-left: 170px;
  opacity: 0.1;
  color: #010101;
}

.important-number-1 {
  float: left;
  padding-right: 95px;
  margin-left: 105px;
}



.important-number-2 {
  float: left;
  padding-right: 125px;
}
.important-number-3 {
  float: left;
  padding-right: 100px;
}

.ipad img 
{
  width: 0%;
}
/* page-3 */
.wrapper-images-page-3 {
  float: right;
  margin-top: -390px;
  width: 44%;
}
.human-page-3 img {
  position: absolute;
  margin-top: -402px;
  width: 40%;
  margin-left: -40px;
}
/* page-4-css */
.background-circle-page-4 {
  margin-top: -435px;
  padding-left: 750px;
}

.cart-1-page-8 img
{
width: 85%;  
}
.cart-2-page-8 img
{
width: 85%;
}
.cart-3-page-8 img
{
width: 303px;
}
/* .cart-written-content {
  width: 303px;
  text-align: center;
  height: 410px;
  margin-top: -661px;
  position: absolute;
  padding-top: 60px;
  background-color: white;
}
.doller-dign {
  color: #ffffff;
  text-align: center;
  display: inline-block;
  margin-top: 35px;
  margin-left: -25px;
}
.cart-paragraph p;
{
  width: 300px;
} */

.inside-image-content-cart-1 {
  margin-top: -177px;
  color: white;
  width: 339px;
  text-align: center;
}

.cart-written-content {
  width: 306px;
  text-align: center;
  height: 410px;
  margin-top: -660px;
  position: absolute;
  padding-top: 60px;
  background-color: white;
}
.cart-1-page-8
{
  margin-left: 45px;
}
.cart-2-page-8 {
  margin-left: 377px;
}
.cart-3-page-8 {
  margin-left: 708px;
}
.cart-special
{
  width: 308px;
}
.button-under-char button {
  width: 305px;
  height: 44px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 40px;
  color: #444444;
  font-weight: 800;
  font-family: "Montserrat";
  text-align: center;
  border: 1px solid transparent;
}



/* page-5-css */
.inside-content-5-1 h4 {
  width: 157px;
  font-size: 18px;
  color: #444444;
  font-weight: 700;
  font-family: "Montserrat";
}
.box-5-1 {
  display: inline-block;
  width: 326px;
}

/* page-6-css */
.buttons-fashion {
  position: absolute;
  margin-top: -80px;
  margin-left: 154px;
  border: 1px solid transparent;
  border-radius: 50px;
  padding-left: 2px;
  width: 100px;
  height: 30px;
  background-color: #efece9;
}
/* page-7-css */
.written-contnet-page-7 {
  float: right;
  margin-right: 86px;
  /* paddding- */
  margin-top: -530px;
}
.image-1-page-7 img {
  width: 48%;
}
.image-1-page-7 {
  padding-top: 130px;
  position: relative;
  /* position: absolute; */
}

.written-contnet-page-7 {
  float: right;
  margin-right: 115px;
  margin-top: -530px;
}
.heading-page-7
{
  margin-left: -150px;
}

/* page-8-css */
.heading-page-8 h2 {
  padding-top: 180px;
  /* padding-left: 500px; */
  margin-bottom: 0px;
  font-size: 91px;
  color: #e6d119;
  font-weight: 900;
  margin-top: 280px;
  font-family: "Montserrat";
  text-align: center;
}

/* page-9-css */
.row-1-page-9
{
  margin-left: 130px;
  height: 600px;
}
.row-2-page-9
{
height: 600px;
}
.row-3-page-9
{
  margin-left: 350px;
  height: 700px;
}
/* page-10-css */
.heading-content-page-10 h3 {
  font-size: 30px;
  letter-spacing: 1px;
  padding-top: 115px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Lato";
  text-align: center;
}
.button-1-page-10 {
  margin-left: 355px;
}
/* form-css */
.input-row-3 textarea {
  max-width: 1024px;
  min-width: 1024px;
  height: 500px !important;
  background-color: #ffffff;
  border: 1px solid #dedede;
  text-align: start;
}
.input-row-1 input {
  width: 504px;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #dedede;
  margin-top: 170px;
  margin-bottom: 25px;
}
.input-row-2 input {
  width: 504px;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #dedede;
  margin-bottom: 25px;
}
/* page-11 */
.row-1-page-11
{
  margin-left: 235px;
}
.row-3-page-11
{
  margin-left: 235px;
}
.footer-globe {
  float: left;
  padding-left: 122px;
}
.footer-logo {
  float: left;
  padding-left: 106px;
  margin-top: 25px;
}
}
@media (max-width: 1050px)
{
  .hero-text h2 {
    font-size: 35px;
    color: #444444;
    font-weight: 900;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
}
.hero-text {
  padding-top: 317px;
  position: relative;
  padding-bottom: 41px;
}
.hero-image img {
  position: absolute;
  margin-left: 474px;
  top: 0px;
  width: 51%;
  margin-top: 33px;
  z-index: +1;
}
.hero-text-backgroung {
  height: 120px;
  width: 120px;
  border: 1px solid #ffe300;
  background-color: #ffe300;
  border-radius: 50%;
  margin-top: -354px;
  margin-left: -25px;
}
.hero-image-backgroung-1 img {
  margin-left: 39%;
  margin-top: -12%;
}
.hero-text-content p {
  width: 410px;
  text-align: justify;
  height: 48px;
  font-size: 19px;
  letter-spacing: 1px;
  padding-bottom: 40px;
  line-height: 22px;
  color: #757575;
  font-weight: bolder;
  font-family: "Lato", sans-serif;
}

.hero-image-backgroung-1 img {
  margin-left: 46%;
  margin-top: -12%;
}
.box-1-page-2 {
  width: 299px;
  margin-left: 13px;
}.box-2-page-2 {
  width: 299px;
  margin-left: 13px;
}.box-3-page-2 {
  width: 299px;
  margin-left: 13px;
}
.responive-deign h4 {
  padding-top: 10px;
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  margin-left: 26px;
  padding-bottom: 90px;
}
.responive-deign img {
  position: absolute;
  margin-top: -130px;
  margin-left: 145px;
  opacity: 0.1;
  color: #010101;
}
.important-number-1 {
  float: left;
  padding-right: 95px;
  margin-left: 59px;
}

.human-page-3 img {
  position: absolute;
  margin-top: -290px;
  width: 40%;
  margin-left: -70px;
}
.circle-page-3 img 
{
  width: 90%;
  margin-top: 60px;
}
.background-circle-page-4 {
  margin-top: -435px;
  padding-left: 691px;
}

.buttons-fashion {
  position: absolute;
  margin-top: -80px;
  margin-left: 135px;
  border: 1px solid transparent;
  border-radius: 50px;
  padding-left: 2px;
  width: 100px;
  height: 30px;
  background-color: #efece9;
}

/* 9-coxex-css */
.all-boxes-page-5 {
  padding-left: 20px;
}
.box-5-1 {
  display: inline-block;
  width: 293px;
}

/* carts-css */

.inside-image-content-cart-1 {
  margin-top: -177px;
  color: white;
  width: 315px;
  text-align: center;
}
.cart-1-page-8 {
  margin-left: 10px;
}
.cart-2-page-8 {
  margin-left: 327px;
}
.cart-3-page-8 {
  margin-left: 647px;
}


/* forms-css */

.input-row-1 input {
  width: 468px;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #dedede;
  margin-top: 170px;
  margin-bottom: 25px;
}
.input-row-2 input {
  width: 468px;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #dedede;
  margin-bottom: 25px;
}
.input-row-3 textarea {
  max-width: 1050px;
  min-width: 940px;
  height: 500px !important;
  background-color: #ffffff;
  border: 1px solid #dedede;
  text-align: start;
}
}

@media (max-width: 960px)
{
  /* .inside-image-content-cart-1 {
    margin-top: -177px;
    color: white;
    width: 320px;
    text-align: center;
} */
.hero-image img {
  position: absolute;
  margin-left: 379px;
  top: 0px;
  width: 51%;
  margin-top: 69px;
  z-index: +1;
}
.hero-text {
  padding-top: 215px;
  position: relative;
  padding-bottom: 41px;
}
.hero-text h2 {
  font-size: 34px;
  color: #444444;
  font-weight: 900;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}
.hero-text-content p {
  width: 336px;
  text-align: justify;
  height: 48px;
  font-size: 19px;
  letter-spacing: 1px;
  padding-bottom: 65px;
  line-height: 22px;
  color: #757575;
  font-weight: bolder;
  font-family: "Lato", sans-serif;
}
.hero-text-backgroung {
  height: 120px;
  width: 120px;
  border: 1px solid #ffe300;
  background-color: #ffe300;
  border-radius: 50%;
  margin-top: -374px;
  margin-left: -25px;
}


/* page-2-css */
.heading-content-page-2 h2 {
  width: 550px;
  font-size: 36px;
  color: #444444;
  font-weight: 700;
  font-family: "Montserrat";
  margin-left: 105px;
  margin-top: -60px;
}
.paragraph-page-2 {
  width: 720px;
  font-size: 20px;
  text-align: center;
  margin-left: 21px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: #757575;
}
.box-1-page-2 {
  width: 240px;
  margin-left: 8px;
}.box-2-page-2 {
  width: 240px;
 
}.box-3-page-2 {
  width: 240px;

}
.responive-deign img {
  position: absolute;
  margin-top: -130px;
  margin-left: 100px;
  opacity: 0.1;
  color: #010101;
}
.responive-deign p {
  margin-top: -100px;
  padding-bottom: 35px;
  text-align: center;
  font-family: "Mulish", sans-serif;
  opacity: 0;
  font-size: 16px;
  width: 238px;
  z-index: 1;
}
.responive-deign h4 {
  padding-top: 0px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  margin-left: 20px;
  padding-bottom: 70px;
}
.box-1-page-2 i {
  font-size: 100px;
  text-align: center;
  align-items: center;
  margin-left: 75px;
  padding-top: 50px;
  color: #ffe300;
}.box-2-page-2 i {
  font-size: 100px;
  text-align: center;
  align-items: center;
  margin-left: 70px;
  padding-top: 50px;
  color: #ffe300;
}.box-3-page-2 i {
  font-size: 100px;
  text-align: center;
  align-items: center;
  margin-left: 65px;
  padding-top: 50px;
  color: #ffe300;
}
.numbers-page-2 h3 {
  font-size: 30px;
  line-height: 40px;
  color: #444444;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  padding-top: 45px;
}
.important-number-1 {
  float: left;
  padding-right: 60px;
  margin-left: 59px;
}.important-number-2 {
  float: left;
  padding-right: 56px;
}.important-number-3 {
  float: left;
  padding-right: 43px;
}
.circle-page-3 img {
  width: 90%;
  margin-top: 146px;
}



/*page-4  */


.background-circle-page-4 {
  margin-top: -467px;
  padding-left: 558px;
}
.background-circle-page-4 img
{
  width: 100%;
}
.heading-page-4 img {
  margin-left: 270px;
  padding-bottom: 22px;
}
.button-3-1
{
  margin-left: 150px;
}
.heading-page-4 p {
  width: 753px;
  height: 45px;
  font-size: 16px;
  line-height: 26px;
  color: #fdfdfd;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  text-align: center;
  margin-left: 10px;
}
.cart-1-page-8 {
  margin-left: 50px;
}.cart-2-page-8 {
  margin-left: 400px;
}.cart-3-page-8 {
  margin-left: 400px;
}
.box-5-1 {
  display: inline-block;
  width: 230px;
}
.box-5-1 p
{
  width: 160px;
}
.image-1-page-7 {
  padding-top: 30px;
  position: relative;
  /* position: absolute; */
}
.image-1-page-7 img {
  width: 100%;
  opacity: 0.1;
}
.heading-page-7 {
  margin-left: 0px;
}
.all-boxes-page-7 {
  padding-top: 60px;
  margin-right: auto;
}
.row-1-page-9 {
  margin-left: 190px;
  height: 600px;
}
.row-2-page-9 {
  height: 587px;
  margin-left: 190px;
}
.row-3-page-9 {
  margin-left: 190px;
  height: 700px;
}

.button-middle-portion {
  margin-left: 150px;
  padding-bottom: 60px;
}
.buttons-fashion {
  position: absolute;
  margin-top: -113px;
  margin-left: 82px;
  border: 1px solid transparent;
  border-radius: 50px;
  padding-left: 2px;
  width: 94px;
  height: 30px;
  background-color: #efece9;
}
/* page-10 css */
.whole-content-page-10 {
  /* position: absolute; */
  margin-top: -175px;
}
.heading-content-page-10 h3 {
  font-size: 30px;
  letter-spacing: 1px;
  padding-top: 0px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Lato";
  text-align: center;
}
.button-1-page-10 
{
  margin-left: 210px;
}
.heading-page-11 h3 {
  font-size: 91px;
  color: #f0f0f0;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 0px;
  margin-top: 70px;
}
.row-1-page-11 {
  margin-left: 105px;
}
.row-3-page-11 {
  margin-left: 105px;
}

/* form-css */
.input-row-3 textarea {
  max-width: 759px;
  min-width: 754px;
  height: 500px !important;
  background-color: #ffffff;
  border: 1px solid #dedede;
  text-align: start;
}
.input-row-1 input {
  width: 368px;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #dedede;
  margin-top: 70px;
  margin-bottom: 25px;
}.input-row-2 input {
  width: 368px;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #dedede;

  margin-bottom: 25px;
}
}
@media (max-width: 760px)
{
  .hero-text {
    padding-top: 130px;
    position: relative;
    padding-bottom: 60px;
}

.hero-image img {
  position: absolute;
  margin-left: 339px;
  top: 0px;
  width: 40%;
  margin-top: 69px;
  z-index: +1;
}
.hero-image-backgroung-1 img {
  margin-left: 55%;
  margin-top: 9%;
  width: 12%;
  opacity: 0.4;
}
.hero-image-backgroung-2 img {
  margin-left: 72%;
  width: 29%;
}
.hero-text h2 {
  font-size: 28px;
  color: #444444;
  font-weight: 900;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}
.hero-text-button button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #444444;
  font-size: 15px;
  background-color: rgba(74, 74, 74, 0);
  border: 1px solid #444444;
  width: 340px;
  height: 50px;
}
.slider {
 
  opacity: 0;
 
}

/* page-2-css */
.heading-content-page-2 h2 {
  width: 550px;
  font-size: 32px;
  color: #444444;
  font-weight: 700;
  font-family: "Montserrat";
  margin-left: 34px;
  margin-top: -60px;
}
.paragraph-page-2 {
  width: 520px;
  font-size: 20px;
  text-align: justify;
  margin-left: 21px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: #757575;
}

.box-1-page-2 {
  width: 240px;
  margin-left: 35px;
}
.box-3-page-2 {
  width: 240px;
  margin-left: 150px;
}
.image-circle img {
  margin-top: 628px;
  margin-left: 0px;
  width: 28%;
}
.important-number-1 {
  float: left;
  padding-right: 62px;
  margin-left: 130px;
}
.important-number-3 {
  float: left;
  padding-right: 43px;
  margin-left: 125px;
}
.heading-text-page-3 h2 {
  font-size: 57px;
  color: #f0f0f0;
  font-weight: 900;
  font-family: "Montserrat";
}
.paragraph-page-3 h4 {
  width: 377px;
  font-size: 20px;
  text-align: justify;
  line-height: 24px;
  color: #757575;
  font-weight: bolder;
  font-family: "Mulish", sans-serif;
}

/* page-3-css */
.content-page-3 {
  display: block;
  padding-top: 20px;
  padding-bottom: 110px;
  margin-left: 130px;
}
.lamp img {
  width: 50%;
}
.circle-page-3 img {
  width: 60%;
  margin-top: 225px;
}
.human-page-3 img {
  position: absolute;
  margin-top: -130px;
  width: 28%;
  margin-left: -10px;
}
.paragraph-page-3 p {
  width: 310px;
  font-size: 19px;
  line-height: 24px;
  color: #757575;
  font-weight: 400;
  font-family: "Muli";
}

/* page-4-css */
.heading-page-4 p {
  width: 516px;
  height: 45px;
  font-size: 19px;
  line-height: 26px;
  color: #fdfdfd;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  text-align: center;
  margin-left: 10px;
}
.heading-page-4 img {
  margin-left: 152px;
  padding-bottom: 0px;
}
.button-3-1
{
  margin-left: 35px;
}

.icon-5-1
{
  display: none;
}
.inside-content-5-1 {
  margin-left: 0px;
  margin-right: 25px;
}
.box-5-1 {
  display: inline-block;
  width: 178px;
  box-shadow: rgba(109, 109, 184, 0.25) 0px 30px 60px -12px, rgba(173, 172, 172, 0.3) 0px 18px 36px -18px;

}

/*  */
.button-middle-portion {
  margin-left: 22px;
  padding-bottom: 60px;
}

/* page-6 */
.text-1-page-6 h3 {
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 36px;
  margin-left: 15px;
  color: #444444;
  display: none;
  font-weight: 700;
  font-family: "Montserrat";
}
.buttons-fashion {
  position: absolute;
  display: none;
  margin-top: -113px;
  margin-left: 82px;
  border: 1px solid transparent;
  border-radius: 50px;
  padding-left: 2px;
  width: 94px;
  height: 30px;
  background-color: #efece9;
}



/* page-7-css */
.written-contnet-page-7 {
  float: right;
  margin-right: 0;
  margin-top: -531px;
}
.heading-page-7 h3 {
  margin-top: -35px;
  margin-right: 0px;
  height: 22px;
  font-size: 28px;
  line-height: 0px;
  color: black;
  font-weight: 700;
  font-family: "Montserrat";
}
.cart-1-page-8 {
  margin-left: 130px;
}.cart-2-page-8 {
  margin-left: 130px;
}.cart-3-page-8 {
  margin-left: 130px;
}
.row-1-page-9 {
  margin-left: 105px;
  height: 600px;
}.row-2-page-9 {
  margin-left: 105px;
  height: 600px;
}.row-3-page-9 {
  margin-left: 105px;
  height: 600px;
}


/* page-10 */


.heading-content-page-10 h3 {
  font-size: 19px;
  letter-spacing: 1px;
  padding-top: 44px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Lato";
  text-align: center;
}
.buttons-page-10 button {
  width: 140px;
  height: 30px;
  margin-top: 0px;
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
}
.button-1-page-10
{
  margin-left: 125px;
}
.row-1-page-11 {
  margin-left: 155px;
}.row-2-page-11 {
  margin-left: 155px;
}.row-3-page-11 {
  margin-left: 155px;
}.row-4-page-11 {
  margin-left: 155px;
}


/* form-css */
.input-row-1 input {
  width: 267px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #dedede;
  margin-top: 70px;
  margin-bottom: 25px;
}
.input-row-2 input {
    width: 269px;
    height: 45px;
    background-color: #ffffff;
    border: 1px solid #dedede;
    margin-bottom: 25px;
}
.input-row-3 textarea {
  max-width: 544px;
  min-width: 544px;
  height: 500px !important;
  background-color: #ffffff;
  border: 1px solid #dedede;
  text-align: start;
}






}
@media (max-width: 560px)
{
  /* .hero-image-backgroung-2 img {
    margin-left: 72%;
    width: 29%;
    display: none;
}
.hero-image-backgroung-1 img {
  margin-left: 55%;
  margin-top: 9%;
  display: none;
  width: 12%;
  opacity: 0.4;
}
.hero-image img {
  position: absolute;
  margin-left: 339px;
  top: 0px;
  display: none;
  width: 40%;
  margin-top: 69px;
  z-index: +1;
}
.hero-text h2 {
  font-size: 28px;
  color: #444444;
  font-weight: 900;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}
.hero-text-content p {
  width: 336px;
  text-align: justify;
  height: 48px;
  font-size: 19px;
  letter-spacing: 1px;
  padding-bottom: 150px;
  line-height: 22px;
  color: #757575;
  font-weight: bolder;
  font-family: "Lato", sans-serif;
} */

.hero-text h2 {
  font-size: 28px;
  width: 360px;
  color: #444444;
  font-weight: 900;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}
.hero-image img {
  position: absolute;
  margin-left: 220px;
  top: 0px;
  width: 40%;
  display: none;
  margin-top: 7px;
  z-index: +1;
}
.hero-image-backgroung-2 img {
  margin-left: 72%;
  width: 29%;
  display: none;
}
.hero-text-button {
  padding-bottom: 300px;
}
.hero-image-backgroung-1 img {
  margin-left: 55%;
  margin-top: 9%;
  width: 12%;
  opacity: 0.4;
  display: none;
}
.hero-text-backgroung {
  height: 120px;
  width: 120px;
  border: 1px solid #ffe300;
  background-color: #ffe300;
  border-radius: 50%;
  margin-top: -539px;
  margin-left: -25px;
}

/* page-2-css */
.heading-content-page-2 h2 {
  width: 340px;
  font-size: 32px;
  color: #444444;
  text-align: center;
  font-weight: 700;
  font-family: "Montserrat";
  margin-left: 15px;
  margin-top: -60px;
}
.paragraph-page-2 {
  width: 316px;
  font-size: 20px;
  text-align: justify;
  margin-left: 28px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: #757575;
}
.image-circle img {
  margin-top: 886px;
  margin-left: 0px;
  width: 28%;
}
.all-boxes
{
  width: 360px;
}
.box-1-page-2 {
  width: 240px;
  margin-left: 70px;
}
.box-2-page-2 {
  width: 240px;
  margin-left: 70px;
}
.box-3-page-2 {
  width: 240px;
  margin-left: 70px;
}
.important-number-2 {
  float: left;
  padding-right: 56px;
  margin-left: 135px;
}
.important-number-4 {
  float: left;
  padding-right: 56px;
  margin-left: 135px;
}

/* page-3-css */

.heading-text-page-3 h2 {
  font-size: 30px;
  color: #f0f0f0;
  font-weight: 900;
  font-family: "Montserrat";
}

.paragraph-page-3 h4 {
  width: 200px;
  font-size: 20px;
  text-align: justify;
  line-height: 24px;
  color: #757575;
  font-weight: bolder;
  font-family: "Mulish", sans-serif;
}
.paragraph-page-3 p {
  width: 310px;
  font-size: 19px;
  line-height: 24px;
  color: #757575;
  font-weight: 400;
  margin-left: -100px;
  font-family: "Muli";
}
.human-page-3 img {
  position: absolute;
  margin-top: -70px;
  width: 28%;
  margin-left: -10px;
}
.paragraph-page-3 button {
  width: 225px;
  height: 60px;
  background-color: #ffe300;
  color: black;
  border: 1px solid transparent;
  margin-top: 25px;
  margin-left: -62px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

/* page-4-css */
.heading-page-4 img {
  margin-left: 60px;
  padding-bottom: 0px;
}
.heading-page-4 p {
  width: 341px;
  height: 45px;
  font-size: 19px;
  line-height: 26px;
  color: #fdfdfd;
  padding-bottom: 70px;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  text-align: center;
  margin-left: 10px;
}
.heading-page-4 button {
  width: 253px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  margin-top: 35px;
  font-size: 18px;
  margin-bottom: -13px;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.heading-page-4 button {
  width: 253px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  margin-top: 35px;
  font-size: 18px;
  margin-bottom: -13px;
  letter-spacing: 1px;
  line-height: 24px;
  margin-left: 50px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
/* page-5-css */
.heading-page-5 h3 {
  font-size: 51px;
  color: #f0f0f0;
  font-weight: 900;
  font-family: "Montserrat";
  padding-top: 47px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.heading-page-5 h4 {
  font-size: 30px;
  line-height: 24px;
  color: #444444;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-top: -4px;
  margin-bottom: 0px;
}


/* box-page */



.all-boxes-page-5 {
  padding-left: 34px;
}
.inside-content-5-1 p {
  font-size: 21px;
  font-family: "Mulish", sans-serif;
  color: #444444;
  width: 290px;
  text-align: center;
  /* font-weight: 800; */
}
.inside-content-5-1 h4 {
  width: 286px;
  font-size: 21px;
  color: #444444;
  text-align: center;
  font-weight: 700;
  font-family: "Montserrat";
}
.box-5-1
{
  width: 300px;
}
.inside-content-5-1 h4 {
  width: 224px;
  font-size: 21px;
  color: #444444;
  text-align: center;
  font-weight: 700;
  font-family: "Montserrat";
}
.button-middle-portion {
  margin-left: 72px;
  padding-bottom: 34px;
}
.button-middle-portion .button
{
  margin-left: 15px;
  margin-top: 15px;
}

/* page-7-css */
.written-contnet-page-7 {
  float: right;
  margin-right: 0;
  margin-top: -320px;
}

.heading-page-7 h2 {
  font-size: 65px;
  color: #ededed;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
  margin: 0px;
}
.heading-page-7 h3 {
  margin-top: -23px;
  margin-left: 24px;
  height: 0px;
  font-size: 19px;
  line-height: 0px;
  color: black;
  font-weight: 700;
  font-family: "Montserrat";
}

/* page-7-css */
.box-1-page-7 {
  width: 180px;
  text-align: center;
  float: left;
  padding-bottom: 37px;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.box-2-page-7 {
  width: 180px;
  text-align: center;
  float: left;
  padding-bottom: 60px;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.box-3-page-7 {
  display: none;
  
}.box-4-page-7 {
  display: none;

}




/* page-8-css */

.heading-page-8 h2 {
  padding-top: 67px;
  /* padding-left: 500px; */
  margin-bottom: 0px;
  font-size: 83px;
  color: #e6d119;
  font-weight: 900;
  margin-top: 280px;
  font-family: "Montserrat";
  text-align: center;
}

/*carts-part  */
.cart-1-page-8
{
  margin-left: 42px;
}
.cart-2-page-8
{
margin-left: 42px;
}
.cart-3-page-8
{
margin-left: 42px;
}
.row-1-page-9 {
  margin-left: 0px;
  padding-right: 0px;
  height: 600px;
}.row-2-page-9 {
  margin-left: 0px;
  padding-right: 0px;
  
}.row-3-page-9 {
  margin-left: 0px;
  padding-right: 0px;
  
}


/* page-10-css */


.page-10 img {
    background-size: cover;
    width: 99%;
    height: 200px;
}
.heading-content-page-10 h3 {
  font-size: 19px;
  letter-spacing: 1px;
  padding-top: 0px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Lato";
  text-align: center;
}
.buttons-page-10 .button
{
  margin-left: 29px;
}


/* page-11-css */
.row-1-page-11 {
  margin-left: 45px;
}
.row-2-page-11 {
  margin-left: 45px;
}
.row-3-page-11 {
  margin-left: 45px;
}
.row-4-page-11 {
  margin-left: 45px;
}


.heading-page-12 h3 {
  font-size: 66px;
  padding-top: 100px;
  color: #e6e6e6;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 0px;
}
.heading-page-12 h4 {
  font-size: 30px;
  color: #444444;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-top: -40px;
}

.all-inputs {
  margin-top: -15px;
}

.input-row-1 input {
  width: 348px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #dedede;
  margin-top: 0px;
  margin-bottom: 25px;
}
.input-row-2 input {
  width: 348px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #dedede;
  margin-bottom: 25px;
}
.input-row-3 textarea {
  max-width: 360px;
  min-width: 348px;
  height: 223px !important;
  background-color: #ffffff;
  border: 1px solid #dedede;
  text-align: start;
}
.background-circle-page-4
{
  display: none;
}
.heading-page-9 h2 {
  font-size: 80px;
  color: #f0f0f0;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 0px;
}
}
@media (max-width: 360px)
{

}