@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0 auto;
}
.wrapper {
  max-width: 980px;
  display: block;
  margin: 0 auto;
  padding: 0 auto;
}
img {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  vertical-align: middle;
}
h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/* p {
  font-family: "Montserrat", sans-serif;
  margin: 0;
} */
a
{
    font-family: "Montserrat", sans-serif;  
}
.clear::after {
  content: " ";
  display: table;
  clear: both;
}

.page-1 {
  background-image: url(../assets/header-bg.jpg);
  height: 800px;
  background-size: cover;
}

.language-part {
  float: left;
  padding-top: 35px;
}
.language-part span
{
    color: grey;
}
.language-part i
{
    opacity: 0;
}
.menu-bar {
  float: left;
  padding-top: 40px;
  padding-left: 222px;
}
.menu-bar i
{
    
    opacity: 1;
}
.menu-bar a:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #5c49c7,
    0 0 70px #5c49c7, 0 0 80px #5c49c7, 0 0 100px #5c49c7, 0 0 150px #5c49c7;
}
.social-media-content {
  float:right;
  padding-top: 40px;
  padding-right: 10px;
}
.social-media-content i:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #5c49c7,
    0 0 70px #5c49c7, 0 0 80px #5c49c7, 0 0 100px #5c49c7, 0 0 150px #5c49c7;
}
.language-part h3 {
  font-size: 11px;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 700;
}

.menu-bar a {
  font-size: 11px;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 700;
  padding-left: 25px;
  text-decoration: none;
}
.social-media-content i {
  font-size: 11px;
  letter-spacing: 2px;
  color: #c4c6c9;
  font-weight: 700;
  padding-right: 15px;
}

.left-arrow {
  float: left;
  padding-top: 300px;
}
.center-part-page-1 {
    float: left;
    padding-left: 275px;
    text-align: center;
    color: white;
    padding-top: 234px;
}
.right-arrow {
  float:right;
  padding-top: 300px;
}
.left-arrow i {
  border: 1px solid white;
  border-radius: 50%;
  padding: 15px;
  font-size: 25px;
  color: white;
}

.right-arrow i {
  border: 1px solid white;
  border-radius: 50%;
  padding: 15px;
  font-size: 25px;
  color: white;
}

.hero-line h2 {
    font-size: 36px;
    letter-spacing: -2px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
}
.hero-description p {
  font-size: 20px;
  line-height: 26px;
  color: #c4c6c9;
  font-weight: 100;
  font-family: "PT Serif";
  text-align: center;
}
/* form-content-page-1 */

.form-section {
  background-color: #3b3d40;
  height: 165px;
  padding-top: 65px;
}

.email-form {
  width: 250px;
  height: 45px;
  background-color: #585a5c;
  border: none;
  border-radius: 5px;
}
.investment-form {
  width: 525px;
  height: 45px;
  background-color: #585a5c;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}
.form-section button {
  width: 165px;
  height: 45px;
  border-radius: 22px;
  border: none;
  background-color: #2e71f2;
  font-size: 10px;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-left: 20px;
}
.form-section button:hover {
  background-color: white;
  color: blue;
  cursor: pointer;
}


/* page-2-css */
.page-2 {
  background-color: #f9f9f9;
  padding-bottom: 200px;
}
.upper-contnent-page-2 {
  text-align: center;
  padding-top: 110px;
}
.upper-contnent-page-2 h2 {
  font-size: 42px;
  letter-spacing: -2px;
  line-height: 55px;
  color: #3b3d40;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}
.upper-contnent-page-2 p {
  font-size: 20px;
  line-height: 26px;
  color: #656b6f;
  width: 388px;
  margin-left: 300px;
  font-weight: 400;
  font-family: "PT Serif";
  text-align: center;
}

.box-1-page-2 {
  float: left;
  text-align: center;
  padding-left: 55px;
}
.box-1-page-2:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #5c49c7,
    0 0 70px #5c49c7, 0 0 80px #5c49c7, 0 0 100px #5c49c7, 0 0 150px #5c49c7;
}
.box-2-page-2 {
  float: left;
  text-align: center;
  padding-left: 90px;
}
.box-2-page-2:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #5c49c7,
    0 0 70px #5c49c7, 0 0 80px #5c49c7, 0 0 100px #5c49c7, 0 0 150px #5c49c7;
}
.box-3-page-2 {
  float: left;
  text-align: center;
  padding-left: 90px;
}
.box-3-page-2:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #5c49c7,
    0 0 70px #5c49c7, 0 0 80px #5c49c7, 0 0 100px #5c49c7, 0 0 150px #5c49c7;
}
.box-4-page-2 {
  float: left;
  text-align: center;
  padding-left: 90px;
}
.box-4-page-2:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #5c49c7,
    0 0 70px #000002, 0 0 80px #010005, 0 0 100px #000000, 0 0 150px #000000;
}
.lower-content-page-2 {
  padding-top: 75px;
}
.lower-content-page-2 i {
  width: 25px;
  height: 23px;
  border-radius: 4px;
  /* background-color: #383a3e; */
}
.lower-content-page-2 h2 {
  font-size: 11px;
  letter-spacing: 2px;
  color: #3b3d40;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.lower-content-page-2 p {
  font-size: 14px;
  line-height: 18px;
  color: #656b6f;
  font-weight: 400;
  font-family: "PT Serif";
  width: 150px;
}

/* page-3-css */
.page-3 {
  padding-bottom: 135px;
}

.text-content-page-3 {
  float: left;
  width: 45%;
  padding-top: 105px;
}
.text-content-page-3 h2 {
  font-size: 42px;
  letter-spacing: -2px;
  /* width: 43%; */
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  line-height: 55px;
  color: #3b3d40;
  
}
.text-content-page-3 p {
  font-size: 14px;
  line-height: 27px;
  color: #656b6f;
  font-weight: 400;
  /* width: 40%; */
}

.image-content-page-3 {
    float: left;
    margin-top: 160px;
    margin-left: 100px;
}
.image-content-page-3 img {
  position: relative;
}
.image-content-page-3 i {
  position: absolute;
  margin-left: -225px;
  margin-top: 100px;
  font-size: 70px;
}
.image-content-page-3:hover i {
  color: blue;
  cursor: pointer;
}

/* page-4-css */

.page-4 {
  background-color: #f9f9f9;
  padding-top: 100px;
  padding-bottom: 400px;
}

.whole-content-page-4 {
}

.image-content-page-4 {
  float: left;

  padding-left: 86px;
}
.text-content-page-4 {
  width: 45%;
  float: left;

  padding-left: 120px;
}

.text-content-page-4 h2 {
  font-size: 42px;
  letter-spacing: -2px;
  line-height: 55px;
  color: #3b3d40;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.text-content-page-4 p {
  font-size: 18px;
  line-height: 27px;
  color: #656b6f;
  font-weight: 400;
  font-family: "PT Serif";
}
.text-content-page-4 button {
  margin-top: 30px;
  font-size: 10px;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  width: 190px;
  height: 45px;
  border-radius: 23px;
  background-color: #2e71f2;
  border: none;
}
.text-content-page-4 button:hover {
  background-color: #656b6f;
  color: white;
  cursor: pointer;
}

/* page-5-css */

.page-5 {
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 450px;
}

.whole-content-page-5 {
}

.image-content-page-5 {
  float: left;

  padding-left: 86px;
}
.text-content-page-5 {
  width: 45%;
  float: left;
}

.text-content-page-5 h2 {
  font-size: 42px;
  letter-spacing: -2px;
  line-height: 55px;
  color: #3b3d40;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.text-content-page-5 p {
  font-size: 18px;
  line-height: 27px;
  color: #656b6f;
  font-weight: 400;
  font-family: "PT Serif";
}
.text-content-page-5 button {
  margin-top: 30px;
  font-size: 10px;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  width: 190px;
  height: 45px;
  border-radius: 23px;
  background-color: #2e71f2;
  border: none;
}
.text-content-page-5 button:hover {
  background-color: #656b6f;
  color: white;
  cursor: pointer;
}

/* page-6-css */

.heading-content-page-6 {
  padding-bottom: 75px;
}
.heading-content-page-6 h2 {
  font-size: 52px;
  letter-spacing: -2px;
  line-height: 55px;
  color: #3b3d40;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-bottom: 25px;
}
.heading-content-page-6 p {
  font-size: 20px;
  line-height: 25px;
  color: #656b6f;
  width: 77%;
  font-weight: 400;
  font-family: "PT Serif";
  text-align: center;
  padding-left: 250px;
}
.left-para-page-6 {
  width: 45%;
  float: left;
}
.right-para-page-6 {
  width: 50%;
  float: left;
  padding-left: 80px;
}
.left-para-page-6 p {
  font-size: 14px;
  line-height: 19px;
  color: #656b6f;
  font-weight: 400;
  font-family: "PT Serif";
}
.right-para-page-6 p {
  font-size: 14px;
  line-height: 19px;
  color: #656b6f;
  font-weight: 400;
  font-family: "PT Serif";
  padding-bottom: 150px;
}
.button-page-6 {
  text-align: center;
  padding-bottom: 105px;
}

.button-page-6 button {
  width: 162px;
  height: 45px;
  border-radius: 22px;
  font-size: 10px;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  border: none;
  background-color: #2e71f2;
}

.button-page-6 button:hover {
  background-color: #656b6f;
  color: white;
  cursor: pointer;
}

/* page-7-css */

.page-7 {
  background-image: url(../assets/bottum-bg.png);
  height: 550px;
  background-size: cover;
}

.heading-content-page-7 {
  text-align: center;
  padding-top: 110px;
}
.heading-content-page-7 h2 {
  font-size: 52px;
  letter-spacing: -2px;
  line-height: 55px;
  color: #ffffff;
  margin-bottom: 5px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.heading-content-page-7 p {
  font-size: 20px;
  line-height: 25px;
  color:#c4c6c9 ;
  font-weight: 400;
  font-family: "PT Serif";
  padding-top: 15px;
  width: 62%;
  padding-left: 360px;
}
.middle-content-page-7 {
  text-align: center;
  padding-top: 70px;
}
.middle-content-page-7 input {
  width: 400px;
  height: 45px;
  background-color: #787a77;
  border-radius: 5px;
  border: transparent;
}
::placeholder {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 10px;
  padding-left: 2%;


}
.middle-content-page-7 button {
    width: 158px;
    height: 45px;
    border-radius: 23px;
    background-color: #2e71f2;
    border: none;
    font-size: 10px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-left: 3%;
}

.middle-content-page-7 button:hover {
  background-color: #656b6f;
  color: white;
  cursor: pointer;
}

/* footer-css */
.footer {
  background-color: #3b3d3f;
  height: 300px;
  padding-top: 40px;
}
.footer-logo {
  float: left;
}

.footer-address {
  float: left;
  width: 45%;
  padding-left: 150px;
  color: white;
}
.footer-social-media {
  color: white;
  float: right;
}

.address-content p {
  font-size: 14px;
  line-height: 19px;
  color: #656b6f;
  font-weight: 400;
  font-family: "PT Serif";
}
.email-content p {
  font-size: 14px;
  line-height: 19px;
  color: #656b6f;
  font-weight: 400;
  font-family: "PT Serif";
  padding-top: 18px;
}
.copyright p {
  font-size: 14px;
  line-height: 19px;
  color: #656b6f;
  font-weight: 400;
  font-family: "PT Serif";
  padding-top: 40px;
}
.social-media-icons {
  text-align: right;
  color: #656b6f;
}
.social-media-icons i {
  padding-right: 15px;
  text-decoration: none;
  color: #656b6f;
}

/* media-quarry-begains here  */

@media (max-width: 1024px) {
  /* page-1-css */
  .menu-bar {
    float: left;
    padding-top: 40px;
    padding-left: 10%;
  }


  .language-part {
    float: left;
    padding-top: 35px;
    padding-left: 10%;
  }
 
  .center-part-page-1 {
    float: left;
    padding-left: 26%;
    text-align: center;
    color: white;
    padding-top: 250px;
  }
  .left-arrow {
    float: left;
    padding-top: 300px;
    padding-left: 1%;
  }
  
  /* form-page */
  .email-form {
    width: 21%;
    height: 45px;
    background-color: #585a5c;
    border: none;
    margin-left: 2%;
    border-radius: 5px;
  }
  .investment-form {
    width: 51%;
    height: 45px;
    background-color: #585a5c;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
  }
  .form-section button {
    width: 155px;
    height: 45px;
    border-radius: 22px;
    border: none;
    background-color: #2e71f2;
    font-size: 10px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
  }

  /* page-2-css */
  .upper-contnent-page-2 p {
    font-size: 20px;
    line-height: 26px;
    color: #656b6f;
    width: 388px;
    margin-left: 28%;
    font-weight: 400;
    font-family: "PT Serif";
    text-align: center;
  }
  .lower-content-page-2 p {
    font-size: 14px;
    line-height: 18px;
    color: #656b6f;
    font-weight: 400;
    font-family: "PT Serif";
    width: 150px;
  }

  .box-1-page-2 {
    float: left;
    text-align: center;
    padding-left: 2%;
  }
  .box-2-page-2 {
    float: left;
    text-align: center;
    padding-left: 7%;
  }
  .box-3-page-2 {
    float: left;
    text-align: center;
    padding-left: 7%;
  }

  .box-4-page-2 {
    float: left;
    text-align: center;
    padding-left: 7%;
  }
  .image-content-page-3 {
    float: left;
    margin-top: 160px;
    margin-left: 2%;
  }
  /* page-6-css */

  .left-para-page-6 p {
    font-size: 19px;
    line-height: 19px;
    color: #656b6f;
    font-weight: 400;
    font-family: "PT Serif";
  }
  .right-para-page-6 p {
    font-size: 19px;
    line-height: 19px;
    color: #656b6f;
    font-weight: 400;
    font-family: "PT Serif";
    padding-bottom: 150px;
  }
}

@media (max-width: 840px) {
  /* page-1-css */

  .language-part {
    float: left;
    padding-top: 35px;
    padding-left: 5%;
  }
  .language-part i {
    opacity: 0;
    position: absolute;
    margin-top: -25px;
    margin-left: 43%;
}


  .menu-bar {
    float: left;
    padding-top: 40px;
    padding-left: 8%;
}

 
  .center-part-page-1 {
    float: left;
    padding-left: 22%;
    text-align: center;
    color: white;
    padding-top: 250px;
  }
  .left-arrow {
    float: left;
    padding-top: 300px;
    padding-left: 1%;
  }
  
  /* .investment-form {
    width: 350px;
    height: 45px;
    background-color: #585a5c;
    border: none;
    border-radius: 5px;
    margin-left: 2%;
  } */
  .form-section button {
    width: 155px;
    height: 45px;
    border-radius: 22px;
    border: none;
    background-color: #2e71f2;
    font-size: 10px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2%;
  }

  /* page-2-css */
  .box-1-page-2 {
    float: left;
    text-align: center;
    padding-left: 2%;
  }
  .box-2-page-2 {
    float: left;
    text-align: center;
    padding-left: 4%;
  }
  .box-3-page-2 {
    float: left;
    text-align: center;
    padding-left: 4%;
  }
  .box-4-page-2 {
    float: left;
    text-align: center;
    padding-left: 4%;
  }

  /* page-3-css */
  .text-content-page-3 {
    float: left;
    width: 73%;
    text-align: justify;
    padding-top: 105px;
  }
  .text-content-page-3 {
    float: left;
    width: 73%;
    margin-left: 11%;
    text-align: justify;
    padding-top: 105px;
  }
  .image-content-page-3 {
    float: left;
    margin-top: 10%;
    margin-left: 17%;
  }
  /* page-5 */
  .text-content-page-5 {
    width: 45%;
    float: left;
    margin-left: 1%;
  }
  /* page-6 */
  .heading-content-page-6 h2 {
    font-size: 52px;
    letter-spacing: -2px;
    line-height: 55px;
    color: #3b3d40;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 25px;
  }
  .heading-content-page-6 p {
    font-size: 20px;
    line-height: 25px;
    color: #656b6f;
    width: 90%;
    font-weight: 400;
    font-family: "PT Serif";
    text-align: center;
    padding-left: 10%;
  }
  .left-para-page-6 p {
    font-size: 19px;
    line-height: 19px;
    color: #656b6f;
    font-weight: 400;
    font-family: "PT Serif";
    margin-left: 6%;
  }

  /* page-7 */

  .heading-content-page-7 p {
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "PT Serif";
    padding-top: 35px;
    width: 70%;
    padding-left: 30%;
  }
}

@media (max-width: 720px) {
  /* page-1 */
  .menu-bar {
    float: left;
    display: none;
    padding-top: 40px;
    padding-left: 10%;
  }
  .language-part i
  {
      opacity: 1;
      margin-left: 82%;
      color: white;
  }
  
  .social-media-content {
  
    display: none;
  }
  .center-part-page-1 {
    float: left;
    padding-left: 17%;
    text-align: center;
    color: white;
    padding-top: 250px;
  }
 
  .email-form {
    width: 40%;
    height: 45px;
    background-color: #585a5c;
    border: none;
    margin-left: 2%;
    border-radius: 5px;
  }
  .investment-form {
    width: 53%;
    height: 45px;
    background-color: #585a5c;
    border: none;
    border-radius: 5px;
    margin-left: 2%;
  }
  .form-section{
    height: 190px;
  }
  .form-section button {
    width: 155px;
    height: 45px;
    border-radius: 22px;
    border: none;
    background-color: #2e71f2;
    font-size: 10px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    margin-left: 40%;
    margin-top: 20px;
  }

  /* page-2 */
  .upper-contnent-page-2 p {
    width: 100%;
    margin-left: 0%;
    padding-left: 19px;
    padding-right: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    color: #656b6f;
    font-weight: 400;
    font-family: "PT Serif";
    text-align: center;
  }
  .lower-content-page-2 h2 {
    font-size: 16px;
    letter-spacing: 2px;
    color: #3b3d40;
    font-weight: 700;
    font-family: "Montserrat";
  }
  .lower-content-page-2 p {
    font-size: 14px;
    line-height: 18px;
    color: #656b6f;
    font-weight: 400;
    font-family: "PT Serif";
    width: 100%;
  }
  .box-1-page-2 {
    float: left;
    text-align: center;
    padding-left: 0%;
    width: 50%;
    padding: 50px;
  }
  .box-2-page-2 {
    float: left;
    text-align: center;
    padding-left: 0%;
    width: 50%;
    padding: 50px;
  }
  .box-3-page-2 {
    float: left;
    text-align: center;
    padding-left: 0%;
    width: 50%;
    padding: 50px;
  }
  .box-4-page-2 {
    float: left;
    text-align: center;
    padding-left: 0%;
    width: 50%;
    padding: 50px;
  }
 

  /* page-4 */
  .page-4 {
    background-color: #f9f9f9;
    padding-top: 100px;
    padding-bottom: 18%;
  }
  .image-content-page-4 {
    float: left;
    padding-left: 27%;
  }
  .text-content-page-4 {
    width: 89%;
    margin-top: 10%;
    float: left;
    text-align: center;
    padding-left: 15%;
  }
  /* page-5 */
  .page-5 {
    background-color: #f9f9f9;
    padding-top: 100px;
  }
  .image-content-page-5 {
    float: left;
    padding-left: 29%;
    padding-top: 8%;
    padding-bottom: 20%;
  }
  .text-content-page-5 {
    width: 89%;
    margin-top: 10%;
    float: left;
    text-align: center;
    padding-left: 15%;
  }
  /* footer-css */
  .footer-address {
    float: left;
    width: 45%;
    padding-left: 15%;
    color: white;
  }
}

@media (max-width: 580px) {
  /* page-1 */
  .page-1 {
    background-image: url(../assets/header-bg.jpg);
    height: 600px;
    background-size: cover;
  }

  .center-part-page-1 {
    float: left;
    padding-left: 17%;
    text-align: center;
    color: white;
    padding-top: 30%;
  }

  .left-arrow {
    float: left;
    padding-top: 300px;
    padding-left: 1%;
    display: none;
  }
.right-arrow{
  display: none;
}
  .right-arrow i{
    display: none;
  }
  /* form-section */
  .form-section {
    background-color: #3b3d40;
    height: 165px;
    padding-top: 45px;
  }
  .form-section button {
    width: 155px;
    height: 45px;
    border-radius: 22px;
    border: none;
    background-color: #2e71f2;
    font-size: 10px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    margin-left: 30%;
    margin-top: 4%;
  }
  

  /* page-2 */
  .page-2 {
    background-color: white !important;
    padding-bottom: 56%;
  }
  .upper-contnent-page-2 h2 {
    font-size: 31px;
    letter-spacing: -2px;
    line-height: 55px;
    color: #3b3d40;
    font-weight: bold;
    font-family: "Montserrat";
  }
 
  .lower-content-page-2 h2 {
    font-size: 14px;
    letter-spacing: 2px;
    color: #3b3d40;
    font-weight: 700;
    font-family: "Montserrat";
  }
  .lower-content-page-2 p {
    font-size: 14px;
    line-height: 18px;
    color: #656b6f;
    font-weight: 400;
    font-family: "PT Serif";
    width: 100%;
  }
  /* page-3 */
  .image-content-page-3 {
    float: left;
    margin-top: 10%;
    margin-left: 1%;
  }

  .text-content-page-3 {
    float: left;
    width: 86%;
    margin-left: 7%;
    text-align: center;
    padding-top: 105px;
  }

  /* pagw-4 */
  .page-4 {
    background-color: white !important;
    padding-top: 100px;
    padding-bottom: 18%;
  }
  .image-content-page-4 {
    float: left;
    padding-left: 14%;
  }
  /* page-5 */
  .page-5 {
    background-color: white !important;
    padding-top: 100px;
  }
  .image-content-page-5 {
    float: left;

    padding-left:25%;
    padding-top: 8%;
    padding-bottom: 20%;
  }

  /* page-6 */
  .heading-content-page-6 h2 {
    font-size: 30px;
    letter-spacing: -2px;
    line-height: 45px;
    color: #3b3d40;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    padding-top: 8%;
    padding-bottom: 25px;
  }
  .left-para-page-6 {
    width: 95%;
    text-align: justify;
    float: left;
  }
  .right-para-page-6 {
    display: none;
  }
  .left-para-page-6 p {
    font-size: 19px;
    line-height: 19px;
    color: #656b6f;
    font-weight: 400;
    font-family: "PT Serif";
    margin-left: 2%;
    padding-bottom: 40px;
  }
  /* page-7 */
  .middle-content-page-7 input {
    width: 280px;
    height: 45px;
    background-color: #787a77;
    border-radius: 5px;
    margin-bottom: 10px;
    border: transparent;
  }
  .footer {
    background-color: #3b3d3f;
    height: 450px;
    padding-top: 50px;
  }
  .footer-logo {
    float: left;
    margin-left: 35%;
  }
  .footer-address {
    float: left;
    width: 72%;
    padding-top: 11%;
    padding-left: 35%;
    color: white;
  }
  .social-media-icons {
    text-align: center;
    color: #656b6f;
  }
  .copyright p {
    font-size: 14px;
    line-height: 19px;
    color: #656b6f;
    font-weight: 400;
    font-family: "PT Serif";
    padding-top: 10px;
  }
  .footer-social-media {
    color: white;
    float: left;
    padding-left: 23%;
    padding-top: 8%;
  }
}

@media (max-width: 390px) {
  /* page-1 */

  .center-part-page-1 {
    float: left;
    padding-left: 23%;
    text-align: center;
    color: white;
    padding-top: 52%;
  }
  .hero-line h2 {
    font-size: 24px;
    padding-top: 3%;
    letter-spacing: -2px;
    font-weight: 700;
  }
  .hero-description p {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 100;
    font-family: "PT Serif";
    text-align: center;
  }
.form-section{
height: 250px;
}
  .email-form {
    width: 90%;
    height: 45px;
    background-color: #585a5c;
    border: none;
    margin-left: 2%;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .investment-form {
    width: 90%;
    height: 45px;
    background-color: #585a5c;
    border: none;
    border-radius: 5px;
    margin-left: 3%;
  }

  .page-4 {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 18%;
  }

  .box-1-page-2 {
    float: left;
    text-align: center;
    padding-left: 0%;
    width: 100%;
    padding: 20px;
  }
  .box-2-page-2 {
    float: left;
    text-align: center;
    padding-left: 0%;
    width: 100%;
    padding: 20px;
  }
  .box-3-page-2 {
    float: left;
    text-align: center;
    padding-left: 0%;
    width: 100%;
    padding: 20px;
  }
  .box-4-page-2 {
    float: left;
    text-align: center;
    padding-left: 0%;
    width: 100%;
    padding: 20px;
  }
 



  .page-2 {
    background-color: white !important;
  }
  /* page-3 */
  .text-content-page-3 h2 {
    font-size: 32px;
    letter-spacing: -2px;
    /* width: 43%; */
    line-height: 51px;
    color: #3b3d40;
    font-weight: 700;
  }
  .text-content-page-3 p {
    font-size: 14px;
    line-height: 27px;
    color: #656b6f;
    font-weight: 400;
    /* width: 40%; */
    text-align: justify;
  }

  /* page-5 */

  .text-content-page-5 {
    width: 89%;
    margin-top: 10%;
    float: left;
    text-align: center;
    padding-left: 9%;
  }
  /* page-7 */
  .heading-content-page-7 h2 {
    font-size: 30px;
    letter-spacing: -2px;
    line-height: 8px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
  }
  .footer-logo {
    float: left;
    margin-left: 30%;
  }

  .footer-address {
    float: left;
    width: 72%;
    padding-top: 11%;
    padding-left: 29%;
    color: white;
  }
  .footer-social-media {
    color: white;
    float: left;
    padding-left: 14%;
    padding-top: 15%;
  }
}
