@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css);
@import url(https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css);
.frist-layer {
  font-size: 20px;
  padding: 15px;
  color: rgb(169, 94, 57);
  background-color: rgb(31, 49, 56);
}
/* .image-1
{
    position: relative;
    width: 625px;
    height: 625px;
    
} */
.page-1-buttons {
  background-color: rgb(144, 147, 149);
  background-blend-mode: color;
}
.home-button {
  width: 100px;
  height: 50px;
  border: none;
  color: white;
  background-color: rgb(48, 47, 47);
  border-radius: 5px;
  margin-left: 50px;
}
.about-button {
  display: inline;
  width: 100px;
  height: 50px;
  border: none;
  color: white;
  background-color: transparent;
  border-radius: 5px;
}
.services-button {
  display: inline;
  width: 100px;
  height: 50px;
  border: none;
  color: white;
  background-color: transparent;
  border-radius: 5px;
}
.tesimonial-button {
  display: inline;
  width: 100px;
  height: 50px;
  border: none;
  color: white;
  background-color: transparent;
  border-radius: 5px;
}
.portfolio-button {
  display: inline;
  width: 100px;
  height: 50px;
  border: none;
  color: white;
  background-color: transparent;
  border-radius: 5px;
}
.contact-button {
  display: inline;
  width: 100px;
  height: 50px;
  border: none;
  color: white;
  background-color: transparent;
  border-radius: 5px;
}
.hero-name {
  background-color: rgb(31, 49, 56);
  padding-top: 30px;
  padding-bottom: 300px;
  filter: blur;
}
.hero-name-1 {
  position: relative;
  left: 1020px;
  top: 200px;
  color: rgb(253, 253, 253);
  font-size: 35px;
  font-family: "Encode Sans SC", sans-serif;
}
.hero-name-2 {
  position: relative;
  left: 1020px;
  top: 170px;
  font-size: 20px;
  color: rgb(169, 94, 57);
  font-family: "Uchen", serif;
}
.page-2-hero-text {
  text-align: center;
  font-family: "Encode Sans SC", sans-serif;
  color: rgb(169, 94, 57);
  text-decoration: underline rgb(169, 94, 57);
  margin: 120px;
}
.page-2-hero-description {
  text-align: center;
  font-family: "Encode Sans SC", sans-serif;
  padding-left: 170px;
  width: 1000px;
  height: 200px;
}

.image1 {
  float: left;
  width: 33.33%;
  padding: 5px;
  padding-left: 270px;
}

.page-2-images ::after {
  content: "";
  clear: both;
  display: table;
}

.columbus-tag {
  display: inline;
  margin: 280px;
  padding-left: 40px;
  color: rgb(169, 94, 57);
}
.linckon-tag {
  display: inline;
  margin: 0px;
  padding-left: 0px;
  color: rgb(169, 94, 57);
}
.colombus-text {
  text-align: center;
  width: 300px;
  height: 180px;
  padding-left: 280px;
}
.linckon-text {
  text-align: center;
  width: 300px;
  padding-left: 720px;
  margin-top: -195px;
}
.page-3 {
  margin-top: 200px;
  background-color: rgb(31, 49, 56);
  padding: 40px;
}
.info {
  padding-left: 150px;
  font-family: "Encode Sans SC", sans-serif;
}
.info1 {
  padding-left: 400px;
  margin-top: -115px;
  font-family: "Encode Sans SC", sans-serif;
}
.info2 {
  padding-left: 750px;
  margin-top: -115px;
  font-family: "Encode Sans SC", sans-serif;
}
.info3 {
  padding-left: 1000px;
  margin-top: -115px;
  font-family: "Encode Sans SC", sans-serif;
}
.page-4 {
  box-sizing: border-box;
  height: 100%;
  margin: 0%;
  margin-bottom: 100%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 70px;
  margin: 2%;
  padding-left: 40px;
}
.banner-img {
  background-image: url(/asstes/leaves.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 2000px;
  height: 800px;
  filter: blur(5px);
}
.banner-text {
  position: relative;
  margin: 20px;
  width: 500px;
  top: 600px;
  left: 690px;
  transform: translate(-50%, -50%);
  z-index: 5;
  padding: 0;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: bold;
  border: 10px inset #fff;
}
p {
  padding-left: -560px;
  text-align: center;
  width: 400px;
  height: 35px;
}

.details-page {
  margin-bottom: 40px;
  height: 900px;

  background-color: rgb(31, 49, 56);
}
.contact {
  width: auto;
  color: white;
  margin-top: px;
  padding-top: 200px;
  padding-left: 520px;
  font-size: 50px;
  font-family: "Encode Sans SC", sans-serif;
}
.c-description {
  padding-left: 260px;
  font-size: 20px;
  color: white;
  width: 800px;
  font-family: "Encode Sans SC", sans-serif;
}
.details-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.details-content-1 {
  width: 280px;
  position: relative;
  top: 250px;
  left: 700px;
  transform: translate(-50%, -50%);
  color: white;
}
.details-content-1 h2 {
  float: left;
  font-size: 30px;
  border-bottom: 6px solid rgb(169, 94, 57);
  margin-bottom: 50px;
  padding: 13px 0px;
}
.text-box {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0px;
  margin: 8px 0px;
  border-bottom: 1px solid rgb(169, 94, 57);
}
.text-box input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 90px;
  margin: 0 10px;
}
.button {
  width: 100%;
  background-color: none;
  border: 2px solid rgb(169, 94, 57);
  color: rgb(169, 94, 57);
  padding: 5px;
}
