@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");

* {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
}
.container {
  max-width: 1400px;
  width: 100%;
  padding: 0 auto;
  margin: 0 auto;
}
/* .wrapper
{
  max-width: 1800px;
} */
body {
  margin: 0 auto;
  padding: 0 auto;
  display: block;
}

header {
  background-image: url(/assets/page-1-image-1.png);

  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  /* background-size: ; */
  /* background-attachment: fixed; */

  /* width: 1296px; */
}
.nav-bar-inline {
  padding-top: 80px;
}
.head-logo {
  background-color: transparent;
  display: inline;
  margin-top: 102px;
  padding-left: 208px;
}

.buttons-cum-links {
  float: right;
}
.drop-button
{
  opacity: 0;
}

.buttons-cum-links ul {
  padding-right: 50px;
  margin-top: 1px;
}

.buttons-cum-links li {
  display: inline;
  cursor: pointer;
  padding-left: 4px;
  padding-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 50px;

  background-color: transparent;
  color: rgb(1, 125, 251);
  width: 300px;
  height: 180px;
  border: none;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.buttons-cum-links li:hover {
  box-shadow: 10px 20px 50px 20px rgb(222, 239, 254);
}

.hero-logo {
  text-align: center;
  margin-top: 160px;
  padding-bottom: 75px;
}
.welcome-to-heaven h4 {
  padding-top: 18px;
  color: #017dfb;
  letter-spacing: 5px;
}
.welcome-to-heaven button {
  color: #017dfb;
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
  border: transparent;
  width: 180px;
  height: 50px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s ease;
}

.check {
  background-color: rgb(1, 125, 251);
  margin-top: 0px;
}

.blue-part {
  background-color: rgb(01, 125, 251);
}

.forms {
  letter-spacing: 60px;
  padding-left: 150px;

  padding-top: 50px;
  padding-bottom: 100px;
}

.forms-blue-bar input {
  display: inline;
  color: white;
  background-image: none;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgb(107, 107, 107);
  background-color: transparent;
}
::placeholder {
  color: white;
}
.forms-blue-bar i {
  position: absolute;
  margin-top: 20px;
  color: white;
}
::-ms-input-placeholder {
  color: white;
}
#city {
  width: 200px;
  padding-left: 20px;
  font-size: 10px;
}
#check-in {
  width: 70px;
  padding-left: 26px;
  font-size: 9px;
}
#check-out {
  width: 70px;
  padding-left: 26px;
  font-size: 9px;
}
#room {
  width: 70px;
  padding-left: 26px;
  font-size: 9px;
}
#adults {
  width: 70px;
  padding-left: 26px;
  font-size: 9px;
}
#children {
  width: 70px;
  padding-left: 26px;
  font-size: 9px;
}
#stars {
  width: 70px;
  padding-left: 26px;
  font-size: 9px;
}
#search-box {
  color: blue;
  background-color: white;
  margin-top: 14px;
  border-radius: 50%;
  padding-left: 8px;
  padding-top: 8px;
  height: 30px;
  width: 30px;
}

.white-bar {
  padding-top: 75px;
  padding-bottom: 75px;
  color: rgb(204, 208, 218);
  font-family: "Roboto", sans-serif;
  letter-spacing: 10px;
  text-align: center;
}
/* page-2-css */

.all-images-page-2::after {
  content: "";
  clear: both;
  display: table;
}
.all-images-page-2 {
  padding-left: 15px;
}
.first-two-images {
  float: left;
  width: 29%;
}
.second-single-image {
  float: left;
  width: 38%;
  padding-left: 15px;
}
.third-two-images {
  float: left;
  width: 29%;
  padding-left: 35px;
}

.image-4-1 {
  float: left;
  width: 48%;
}
.image-4-2 {
  float: left;
  width: 48%;
  margin-left: 38px;
}

.first-two-images img {
  width: 100%;
}
.second-single-image img {
  width: 104%;
}
.third-two-images img {
  width: 110%;
}
.last-two-images img {
  width: 100%;
  padding-top: 30px;
}

.seperation-text {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 100px;
  color: rgb(204, 208, 218);
  background-color: rgb(249, 249, 249);
  font-family: "Roboto", sans-serif;
  letter-spacing: 10px;
}
.box-1 {
  display: inline-block;
  margin-left: 20px;
  width: 22%;
  margin-bottom: 50px;
  background-color: white;

  height: 365px;
}
.box-1 img {
  width: 100%;
}
.page-3-boxes {
  padding-top: 80px;
  padding-left: 25px;
}
.row-1 {
  display: inline;

  /* width: 25%; */
}

.row-2 {
  padding-bottom: 53px;
}
.row-2 img p {
  background-color: rgb(249, 249, 249);
  display: inline;
  width: 25%;
}

.row-1-boxes img {
  padding-left: 240px;
  background-color: rgb(249, 249, 249);
}

.box-1 p {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: rgb(105, 120, 153);
  padding-left: 24px;
  padding-top: 5px;
  font-weight: 500;
  margin-bottom: 8px;
}
#box-1-stars {
  padding-left: 30px;
}
.fa-star {
  color: gold;
}
#price-1 {
  text-align: right;
  margin-top: -60px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  padding-right: 55px;
  font-weight: 200;
}
#price-1-1 {
  margin-left: 165px;
  margin-top: -10px;
  font-size: 15px;
  color: rgb(219, 229, 229);
}

.price-1-button {
  align-items: center;
  margin-left: 70px;
  font-size: 18px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 50px;
  height: 40px;
  width: 170px;
  margin-bottom: 140px;
  margin-top: 0px;
}
.page-4 {
  padding-top: 32px;
}
.heading-text {
  background-image: url(/assets/page-4-BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bolder;

  /* margin-left: 40px; */
  color: white;
  padding-top: 386px;

  background-size: cover;
  text-align: center;
  font-size: 45px;
}
.heading-text h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}
.last-paragraph p {
  width: 737px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  /* margin-left: 430px; */
  line-height: 12px;
  margin-left: 315px;
  text-align: center;
  padding-bottom: 330px;
}

.copyright p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: rgb(189, 189, 189);
}
.copyright {
  align-items: center;
  text-align: center;
  padding-top: 85px;
  padding-bottom: 100px;
}
.box-1 {
}
.page-3 {
  background-color: rgb(216, 215, 215);
}
.View-all-offer {
  font-family: "Roboto", sans-serif;
  width: 182px;
  height: 47px;
  background-color: transparent;
  border: 2px solid rgb(197, 197, 197);
  border-radius: 25px;
  margin-left: 570px;
  color: rgb(197, 197, 197);
  margin-bottom: 50px;
}

/* media quarry  */




@media (max-width: 1024px) {
  /* page-1-css */

  .head-logo {
    background-color: transparent;
    display: inline;
    margin-top: 102px;
    padding-left: 60px;
  }
  .drop-button
  {
    opacity: 1;
  }
  .dropdown {
    position: relative;
   
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content li {
    color: black!important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #f1f1f1}
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbutton {
    background-color: #3e8e41;
  }
  

  .hero-logo {
    text-align: center;
    margin-top: 68px;
    padding-bottom: 0px;
  }
  .main-logo img {
    width: 25%;
  }
  .welcome-to-heaven {
    padding-bottom: 135px;
  }
  .welcome-to-heaven h4 {
    padding-top: 0px;
    color: #017dfb;
    letter-spacing: 2px;
  }
  .welcome-to-heaven button {
    color: #017dfb;
    margin-top: 0px;
    font-size: 11px;
    font-weight: bold;
    border: transparent;
    width: 110px;
    height: 24px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .forms {
    letter-spacing: 40px;
    padding-left: 45px;
    padding-top: 45px;
    padding-bottom: 80px;
  }
  .image-4-2 img {
    margin-left: 255px;
  }

  .box-1 {
    display: inline-block;
    margin-left: 20px;
    width: 22%;
    margin-bottom: 50px;
    background-color: white;
    height: 285px;
  }

  .box-1 p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: rgb(105, 120, 153);
    padding-left: 24px;
    padding-top: 5px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  .price-1-button {
    align-items: center;
    margin-left: 23px;
    font-size: 18px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 50px;
    height: 40px;
    width: 170px;
    margin-bottom: 140px;
    margin-top: 0px;
  }
  #price-1-1 {
    margin-left: 120px;
    margin-top: -10px;
    font-size: 15px;
    color: rgb(219, 229, 229);
  }
  #price-1 {
    text-align: right;
    margin-top: -60px;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    padding-right: 18px;
    font-weight: 200;
  }

  .View-all-offer {
    font-family: "Roboto", sans-serif;
    width: 182px;
    height: 47px;
    background-color: transparent;
    border: 2px solid rgb(197, 197, 197);
    border-radius: 25px;
    margin-left: 410px;
    color: rgb(197, 197, 197);
    margin-bottom: 50px;
  }

  .last-paragraph p {
    width: 638px;
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    line-height: 26px;
    margin-left: 187px;
    text-align: center;
    padding-bottom: 330px;
  }
}








/* media quarry for ipads */
@media (max-width: 790px) {
  
  .dropdown {
    position: relative;
   
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content li {
    color: black!important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #f1f1f1}
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbutton {
    background-color: #3e8e41;
  }
  
  
  
  
  
  
  .welcome-to-heaven {
    padding-bottom: 40px;
}
  
  #city {
    width: 70px;
    padding-left: 20px;
    font-size: 10px;
  }
  .forms {
    letter-spacing: 12px;
    padding-left: 80px;
    padding-top: 38px;
    padding-bottom: 43px;
  }
  .second-single-image img {
    width: 107%;
}
  .third-two-images img {
    width: 115%;
  }
  .image-4-2 {
    float: left;
    width: 48%;
    margin-left: -38px;
  }
  .seperation-text {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 55px;
    color: rgb(204, 208, 218);
    background-color: rgb(249, 249, 249);
    font-family: "Roboto", sans-serif;
    letter-spacing: 10px;
  }


  .box-1 {
    display: inline-block;
    margin-left: 20px;
    width: 43%;
    margin-bottom: 50px;
    background-color: white;
    height: 366px;
}
#price-1-1 {
  margin-left: 210px;
  margin-top: -10px;
  font-size: 15px;
  color: rgb(219, 229, 229);
}
.price-1-button {
  align-items: center;
  margin-left: 85px;
  font-size: 15px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 50px;
  height: 35px;
  width: 143px;
  margin-bottom: 83px;
  margin-top: 0px;
}

  .heading-text {
    background-image: url(/assets/page-4-BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bolder;
    /* margin-left: 40px; */
    color: white;
    padding-top: 130px;
    background-size: cover;
    text-align: center;
    font-size: 45px;
  }
  .View-all-offer {
    font-family: "Roboto", sans-serif;
    width: 182px;
    height: 47px;
    background-color: transparent;
    border: 2px solid rgb(197, 197, 197);
    border-radius: 25px;
    margin-left: 265px;
    color: rgb(197, 197, 197);
    margin-bottom: 50px;
}

  .heading-text h2 {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 40px;
  }
  .last-paragraph p {
    width: 400px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin-left: 0;
    line-height: 12px;
    margin-left: 187px;
    text-align: center;
    padding-bottom: 330px;
  }
}






@media (max-width: 823px)
{


  #city {
    width: 62px;
    padding-left: 21px;
    font-size: 10px;
}
  .welcome-to-heaven {
    padding-bottom: 63px;
}
.forms {
  letter-spacing: 33px;
  padding-left: 45px;
  padding-top: 45px;
  padding-bottom: 80px;
}
.first-two-images img {
  width: 97%;
}
.image-4-2 {
  float: left;
  width: 48%;
  margin-left: -20px;
}   
.box-1 {
  display: inline-block;
  margin-left: 20px;
  width: 44%;
  margin-bottom: 50px;
  background-color: white;
  height: 405px;
}
#price-1-1 {
  margin-left: 250px;
  margin-top: -10px;
  font-size: 15px;
  color: rgb(219, 229, 229);
}
.price-1-button {
  align-items: center;
  margin-left: 90px;
  font-size: 18px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 50px;
  height: 40px;
  width: 170px;
  margin-bottom: 140px;
  margin-top: 0px;
}

.View-all-offer {
  font-family: "Roboto", sans-serif;
  width: 182px;
  height: 47px;
  background-color: transparent;
  border: 2px solid rgb(197, 197, 197);
  border-radius: 25px;
  margin-left: 300px;
  color: rgb(197, 197, 197);
  margin-bottom: 50px;
}


.last-paragraph p {
  width: 638px;
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  line-height: 26px;
  margin-left: 100px;
  text-align: center;
  padding-bottom: 330px;
}


}

@media (max-width: 720px)
{

  .hero-logo {
    text-align: center;
    margin-top: 38px;
    padding-bottom: 0px;
}
  .welcome-to-heaven {
    padding-bottom: 50px;
}
.forms {
  letter-spacing: 33px;
  padding-left: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.image-4-2 {
  float: left;
  width: 48%;
  margin-left: -224px;
}
.box-1 {
  display: inline-block;
  margin-left: 20px;
  width: 44%;
  margin-bottom: 50px;
  background-color: white;
  height: 365px;
}
#price-1-1 {
  margin-left: 205px;
  margin-top: -10px;
  font-size: 15px;
  color: rgb(219, 229, 229);
}
.price-1-button {
  align-items: center;
  margin-left: 72px;
  font-size: 18px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 50px;
  height: 40px;
  width: 170px;
  margin-bottom: 140px;
  margin-top: 10px;
}







.last-paragraph p {
  width: 574px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 25px;
  margin-left: 100px;
  text-align: center;
  padding-bottom: 330px;
}

}

@media (max-width: 500px)
{






  .nav-bar-inline {
    padding-top: 30px;
}
.head-logo {
  background-color: transparent;
  display: inline;
  margin-top: 102px;
  padding-left: 25px;
}
.buttons-cum-links ul {
  padding-right: 30px;
  margin-top: -3px;
}


  .head-logo img
{
  width: 10%;
}
.hero-logo {
  text-align: center;
  margin-top: 28px;
  padding-bottom: 0px;
}
#search-box {
  color: blue;
  background-color: white;
  margin-top: 9px;
  border-radius: 50%;
  padding-left: 6px;
  margin-left: 15px;
  font-size: 11px;
  padding-top: 4px;
  height: 20px;
  width: 22px;
}
.forms-blue-bar i {
  position: absolute;
  margin-top: 8px;
  color: white;
}
.welcome-to-heaven {
  padding-bottom: 33px;
}
.welcome-to-heaven h4 {
  padding-top: 0px;
  color: #017dfb;
  font-size: 9px;
  letter-spacing: 0px;
}
.welcome-to-heaven button {
  color: #017dfb;
  margin-top: 0px;
  font-size: 11px;
  font-weight: bold;
  border: transparent;
  width: 75px;
  height: 19px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s ease;
}
.forms {
  letter-spacing: 10px;
  padding-left: 30px;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 18px;
}
.form i
{
  font-size: 9px;

}
#city {
  width: 70px;
  padding-left: 20px;
  font-size: 9px;
  margin-top: 10px;
}

#search-box {
  color: blue;
  background-color: white;
  margin-top: 9px;
  border-radius: 50%;
  padding-left: 7px;
  margin-left: 10px;
  padding-top: 6px;
  height: 20px;
  width: 22px;
}
.forms-blue-bar input {
  display: inline;
  color: white;
  background-image: none;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgb(107, 107, 107);
  background-color: transparent;
}


.heading-text h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 25px;
}
.heading-text img
{
  width: 30%;
}






.first-two-images {
  float: left;
  width: 45%;
}
.second-single-image img {
  width: 260%;
  margin-top: 219px;
  margin-left: -170px;
}
.third-two-images {
  float: left;
  margin-top: -486px;
  width: 45%;
  margin-left: 181px;
  padding-left: 25px;
}
.image-4-2 img {
  margin-left: 50px;
}
.image-4-2 {
  float: left;
  width: 48%;
  margin-left: -36px;
}




.third-two-images img {
  width: 115%;
}
.white-bar {
    padding-top: 40px;
    padding-bottom: 40px;
    color: rgb(204, 208, 218);
    font-family: "Roboto", sans-serif;
    letter-spacing: 5px;
    text-align: center;
    font-size: 10px;
}

.seperation-text {
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  color: rgb(204, 208, 218);
  background-color: rgb(249, 249, 249);
  font-family: "Roboto", sans-serif;
  letter-spacing: 5px;
  font-size: 10px;
}

.box-1 {
  display: inline-block;
  margin-left: 9px;
  width: 79%;
  margin-bottom: 38px;
  background-color: white;
  height: 321px;
}
.page-3-boxes {
  padding-top: 80px;
  padding-left: 63px;
}
#price-1-1 {
  margin-left: 173px;
  margin-top: -10px;
  font-size: 15px;
  color: rgb(219, 229, 229);
}
.price-1-button {
  align-items: center;
  margin-left: 74px;
  font-size: 15px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 50px;
  height: 35px;
  width: 125px;
  margin-bottom: 83px;
  margin-top: 0px;
}
.View-all-offer {
  font-family: "Roboto", sans-serif;
  width: 119px;
  height: 34px;
  background-color: transparent;
  border: 2px solid rgb(197, 197, 197);
  border-radius: 25px;
  margin-left: 86px;
  color: rgb(197, 197, 197);
  margin-bottom: 50px;
}







.last-paragraph p {
  width: 275px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin-left: 0;
  line-height: 12px;
  margin-left: 76px;
  text-align: center;
  padding-bottom: 160px;
}

}