@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@500&display=swap');

*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}
.page-1
{
    background-image: url(/assets/page-1-background.png);
    background-size: cover;
    height: 840px;
    display: block;
}
.
 .page-1.footer 
{
    width: 33%;
    float: left;
}
.headphones
{
    float: left;
    width: 140px;

}

.logo ul li
{
    display: inline-block;
    margin-right: 5px;
    margin-top: 15px;
}
.logo ul
{
    float: right;


}
.logo{
    padding-top: 0px;
    width: 1200px;
    padding-left: 250px;
    
    

    
}
.logo li{
    background-color: transparent;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px;
}
.solid
{
    
}
.items
{
    float: left;
    width: 25%;
}
.mid-content ::after
{
    content: "";
    clear: both;
    display: table;
}

.items .pencil
{
    
    margin-top: 560px;
    margin-left: -150px;

}
.page-1-content h3
{
    margin-top: 350px;
  font-size: 28.4px;
  margin-left: -240px;
  font-weight: bolder;
  color: white;
  font-family: 'Raleway', sans-serif;


}
.page-1-content p
{
font-size: 15px;
margin-left: -240px;
font-family: 'Roboto', sans-serif;
color:white;
padding-top: 30px;
font-family: ;


}
.page-1-content .button-1
{
background-color: white;
height: 70px;
color: black;
font-weight: bolder;
width: 160px;
margin-left: -240px;
margin-top: 30px;
border: white;
border-radius: 8px  ;


}

.button-page-1 button:hover
{
    opacity: 0.3;
}

.page-1-content .button-2
{
background-color: white;
border: white;
color: black;
font-weight: bolder;
height: 70px;
width: 160px;
margin-left: 0px;
border-radius: 8px  ;

}
.mobile-phone
{
font-size: 25px;
margin-left: -0px;
color:white;
padding-top: 265px;
margin-left: -120px;



}
.earphones
{
    float: right;
    margin-top: -400px;
}
.page-2
{
    margin-bottom: 340px;
}

.welcome-note  
{
    padding-top: 100px;
    text-align: center;
    padding-bottom: 90px;
}
.mid-content-page-2
{
    
    float: left;
    width: 25%;
    
}
.content-1
{
    text-align: center;
    
    width: 300px;
    margin-left: 190px;
    padding-bottom: 90px;
}
.content-2
{
    text-align: center;
    
    width: 300px;
    margin-left: 190px;
    padding-bottom: 90px;
}
.content-3
{
    text-align: center;
    width: 300px;
    margin-left: 190px;
    padding-bottom: 90px;

}
.page3image1 img
{
    float: left;
} 
.page-3-content
{
    margin-left: 500px;
    padding-top: 190px;
    width: 450px;
    margin-left: 700px;
    font-family: 'Roboto', sans-serif;
} 
.read-me
{
    background-color: rgb(151, 182, 202);
    height: 55px;
    width: 150px;
    color: white;
    border-radius: 50px;
    font-weight: bolder;

}
/* .page-3
{
    background-image: url(/assets/page-3-background.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
    background-size: cover;
    height: 700px;
    width: 1280px;

} */

.page-4 .content-page-4
{
 margin-top: 350px;   
 text-align: center;
 font-family: 'Roboto', sans-serif;
}
#horz-line-2
{
    width: 80px;
    margin-left: 635px;
    align-items: center;
    text-align: center;
    color: blue;
}
.content-page-4
{
font-size: 15px;
padding-bottom: 100px;
font-family: 'Roboto', sans-serif;
}
.content-4-1
{
    
    display: inline-block;
    width: 22%;
    padding: 15px;
    align-items: center;
    margin: 25px;
    

    

}
.page-4-inner-data
{
    padding-left: 220px;
}
.content-4-1-2
{
    
    width: 22%;
    display: inline-block;
    padding: 15px;
    align-items: center;
    margin: 25px;
    
}
.page-5
{
    margin-top: 150px;
    text-align: center;
    margin-bottom: 50px;
}
#horzi-line
{
    width: 70px;
    margin-left: 640px;
   
}
.page-5-text
{
    /* background: url(/assets/page-5-background.png);
    height: 600px;
    width: 1000px; */
    margin-left: 180px;
    padding-top: -50px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}
.costumer-box
{
    background: url(/assets/page-5-background.png);
    height: 600px;
    padding-top: 50px;
}

.box-data
{
    margin: 400px;
    padding: 70px;
    background-color: rgb(250, 243, 243);
    border: 0.5px solid black;
    opacity: 1;
    margin-top: -350px;
}
.co-owner-image
{
    margin-top: -110px;
}
.prev-next
{
    
    margin-top: -350px;
    
}
.page-6-content
{
   
    display: inline;
    float: left;
    width: 50%;
    padding: 5px;
}


